/* @generated:start tokens */
.popover {
  --fsds-popover-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-popover-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-popover-size-gap-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-popover-color-background-content: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-popover-color-border-accent: var(--fsds-semantic-color-border-accent, #d9292b);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
