/* @generated:start styles */
.select {
  background-color: var(--semantic-color-background-primary, #ffffff);
  color: var(--semantic-color-foreground-primary, #141414);
  border-color: var(--semantic-color-border-primary, #f29495);
  padding: var(--core-spacing-size-03, 4px);
  border-radius: var(--core-shape-radius-medium, 8px);
  font-size: var(--semantic-typography-body-02, 16px);
  line-height: var(--semantic-typography-line-height-body, 1.5);
  /* --semantic-color-foreground-secondary: #555555; */
  /* --semantic-color-foreground-placeholder: #8f8f8f; */
  /* --core-shape-border-width-hairline: 1px; */
  /* --semantic-control-size-sm-height: 24px; */
  /* --semantic-control-size-md-height: 32px; */
  /* --semantic-control-size-lg-height: 48px; */
}

.select--sm {}

.select--md {}

.select--lg {}

.select--bottom {}

.select--top {}

.select--auto {}

.select:hover {
  background-color: var(--semantic-color-background-hover, #cecece);
  color: var(--semantic-color-foreground-hover, #3a3a3a);
  border-color: var(--semantic-color-border-bold, #8f8f8f);
}

.select:focus-visible {}

.select:active {}

.select:disabled {
  background-color: var(--semantic-color-background-disabled, #cecece);
  color: var(--semantic-color-foreground-disabled, #aeaeae);
  border-color: var(--semantic-color-border-disabled, #cecece);
}

.select--open {
  border-color: var(--semantic-color-border-accent, #d9292b);
  /* --semantic-color-foreground-accent: #d9292b; */
}

.select--closed {}

.select[aria-selected="true"] {
  background-color: var(--semantic-color-background-highlight, #f7c1c2);
  color: var(--semantic-color-foreground-accent, #d9292b);
}

.select__trigger {}

.select__content {}

.select__search {}

.select__options {}

.select__option {}

.select__check {}

.select__emptyState {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
