/* @generated:start tokens */
.checkbox {
  --fsds-checkbox-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-checkbox-color-border-default: var(--fsds-semantic-color-border-default, #aeaeae);
  --fsds-checkbox-border-width: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-checkbox-border-radius: var(--fsds-core-shape-radius-small, 4px);
  --fsds-checkbox-transition-duration: var(--fsds-core-motion-duration-short, 150ms);
  --fsds-checkbox-color-border-hover: var(--fsds-semantic-color-border-hover, #f29495);
  --fsds-checkbox-color-background-checked: var(--fsds-semantic-color-action-background-primary-default, #d9292b);
  --fsds-checkbox-color-background-disabled: var(--fsds-semantic-color-background-disabled, #cecece);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
