@import "./TextField.tokens.css";

/* @generated:start styles */
.text-field {
  gap: var(--fsds-text-field-spacing-gap);
  border-width: var(--fsds-text-field-border-width);
  border-radius: var(--fsds-text-field-border-radius);
  color: var(--fsds-text-field-color-input-text);
}

.text-field__invalid {
  border-color: var(--fsds-text-field-color-input-borderError);
  color: var(--fsds-text-field-color-error);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
