@import "./Icon.tokens.css";

/* @generated:start styles */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-icon-color-foreground-default);
}

.icon--sm {
  width: var(--fsds-icon-size-sm);
  height: var(--fsds-icon-size-sm);
}

.icon--md {
  width: var(--fsds-icon-size-md);
  height: var(--fsds-icon-size-md);
}

.icon--lg {
  width: var(--fsds-icon-size-lg);
  height: var(--fsds-icon-size-lg);
}

.icon--xl {
  width: var(--fsds-icon-size-xl);
  height: var(--fsds-icon-size-xl);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
