/* @generated:start tokens */
.truncate {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-truncate-color-foreground-link: var(--fsds-semantic-color-foreground-link, #d9292b);
  --fsds-truncate-color-background-primary: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-truncate-typography-fontWeight: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-truncate-spacing-toggle: var(--fsds-core-spacing-size-02, 2px);
  --fsds-truncate-color-foreground-linkHover: var(--fsds-semantic-color-foreground-linkHover, #ae0001);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
