@import "./ShowMore.tokens.css";

/* @generated:start styles */
.show-more {
  background-color: var(--fsds-showmore-color-background-default);
  color: var(--fsds-showmore-color-foreground-secondary);
  border-color: var(--fsds-showmore-color-border-accent);
  padding: var(--fsds-showmore-size-padding-default);
  border-radius: var(--fsds-showmore-size-radius-default);
  /* --fsds-semantic-color-background-image-overlay: rgba(0, 0, 0, 0.5); */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
