/* @generated:start tokens */
.show-more {
  --fsds-showmore-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-showmore-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-showmore-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-showmore-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-showmore-color-border-accent: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-showmore-size-padding-default: var(--fsds-core-spacing-size-07, 24px);
  --fsds-showmore-size-radius-default: var(--fsds-core-shape-radius-medium, 8px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
