@import "./Badge.tokens.css";

/* @generated:start styles */
.badge {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-badge-spacing-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-badge-color-background-default);
  color: var(--fsds-badge-color-foreground-primary);
  border-color: var(--fsds-badge-color-border-default);
}

.badge__icon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-inline-end: 2px;
}

.badge__content {
  display: inline-block;
  white-space: nowrap;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
