@import "./Badge.tokens.css";

/* @generated:start styles */
.badge {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-badge-spacing-gap, 4px);
  width: fit-content;
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-badge-size-minHeight, 24px);
  max-height: var(--fsds-box-model-max-height);
  justify-content: center;
  white-space: nowrap;
  border-style: solid;
  background-color: var(--fsds-badge-color-background-default, #d0d0d0);
  color: var(--fsds-badge-color-foreground-primary, #141414);
  border-color: var(--fsds-badge-color-border-default, #d0d0d0);
  border-width: var(--fsds-badge-size-border, 1px);
  border-radius: var(--fsds-badge-size-radius, 9999px);
  padding-block: var(--fsds-badge-size-paddingY, 2px);
  padding-inline: var(--fsds-badge-size-paddingX, 8px);
  font-size: var(--fsds-badge-size-fontSize, 12px);
  font-weight: var(--fsds-badge-text-weight, 500);
  line-height: 1;

  &:hover {
    background-color: var(--fsds-badge-color-background-hover, #d0d0d0);
  }
}

.badge__icon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
}

.badge__content {
  display: inline-block;
  white-space: nowrap;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
