/* @generated:start tokens */
.status {
  --fsds-status-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-status-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-status-color-border-default: var(--fsds-semantic-color-border-primary, #f29495);
  --fsds-status-size-radius-default: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-status-size-padding-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-status-size-border-default: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-status-typography-lineHeight: var(--fsds-semantic-typography-line-height-collapse, 1);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
