@import "./List.tokens.css";

/* @generated:start styles */
.list {
  color: var(--fsds-list-color-foreground-primary);
  border-color: var(--fsds-list-color-border-default);
  padding: var(--fsds-list-size-padding-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
