@import "./AlertNotice.tokens.css";

/* @generated:start styles */
.alert-notice {
  background-color: var(--fsds-alertnotice-color-background-danger);
  color: var(--fsds-alertnotice-color-foreground-danger);
  border-color: var(--fsds-alertnotice-color-border-danger);
  padding: var(--fsds-alertnotice-size-padding);
  border-radius: var(--fsds-alertnotice-size-radius);
  gap: var(--fsds-alertnotice-spacing-gap);
  font-size: var(--fsds-alertnotice-text-size);
  font-weight: var(--fsds-alertnotice-text-weight);
  /* --fsds-core-spacing-size-06: 16px; */

  &__title {
    font-weight: var(--fsds-alertnotice-typography-title-fontWeight);
    font-size: var(--fsds-alertnotice-typography-title-fontSize);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
