@import "./Breadcrumbs.tokens.css";

/* @generated:start styles */
.breadcrumbs {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-breadcrumbs-color-background-elevated, #ffffff);
  border-color: var(--fsds-breadcrumbs-color-border-subtle, #d0d0d0);
  line-height: var(--fsds-breadcrumbs-typography-line-height-collapse, 1);
  display: block;
  border-radius: var(--fsds-breadcrumbs-shape-radius-medium, 6px);
  padding: var(--fsds-breadcrumbs-spacing-padding-default, 8px);
  color: var(--fsds-breadcrumbs-color-foreground-primary, #141414);

  &:focus-visible {
    outline-color: var(--fsds-breadcrumbs-color-focus, #d92d2e);
  }
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--fsds-breadcrumbs-spacing-gap-default, 8px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
