@import "./Popover.tokens.css";

/* @generated:start styles */
.popover {
  padding: var(--fsds-popover-size-padding-default);
  border-radius: var(--fsds-popover-size-radius-default);
  gap: var(--fsds-popover-size-gap-default);
  background-color: var(--fsds-popover-color-background-content);
  border-color: var(--fsds-popover-color-border-accent);
  /* --fsds-semantic-elevation-default: 0 2px 8px rgba(0,0,0,0.12); */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
