/* @generated:start tokens */
:root {
  --fsds-popover-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-popover-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-popover-size-gap-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-popover-color-background-content: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-popover-color-border-accent: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-popover-elevation-default: var(--fsds-semantic-elevation-default, 0 2px 8px rgba(0,0,0,0.12));
  --fsds-popover-layer-content: var(--fsds-core-layer-dropdown, 1000);
}

.popover {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-block-end: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-padding-inline-end: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-gap: var(--fsds-semantic-surface-size-gap, 12px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: var(--fsds-semantic-surface-size-min-width, 64px);
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
