@import "./Shuttle.tokens.css";

/* @generated:start styles */
.shuttle {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-shuttle-color-background-default);
  color: var(--fsds-shuttle-color-foreground-secondary);
  border-color: var(--fsds-shuttle-color-border-accent);
  padding: var(--fsds-shuttle-size-padding-default);
  border-radius: var(--fsds-shuttle-size-radius-default);
}

.shuttle__item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  color: var(--fsds-shuttle-color-foreground-primary);
  cursor: pointer;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
