/* @generated:start styles */
.shuttle {
  background-color: var(--fsds-semantic-color-background-secondary, #efefef);
  color: var(--fsds-semantic-color-foreground-secondary, #555555);
  border-color: var(--fsds-semantic-color-border-accent, #d9292b);
  padding: var(--fsds-core-spacing-size-07, 24px);
  border-radius: var(--fsds-core-shape-radius-medium, 8px);
}

.shuttle__item {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
