@import "./CodeBlock.tokens.css";

/* @generated:start styles */
.code-block {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-code-block-color-background-default, #d0d0d0);
  border-color: var(--fsds-code-block-color-border-default, #d0d0d0);
  border-style: solid;
  border-width: var(--fsds-code-block-size-border-default, 1px);
  border-radius: var(--fsds-code-block-size-radius-default, 6px);
  color: var(--fsds-code-block-color-foreground-primary, #141414);
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: var(--fsds-code-block-size-font-size-default, 0.875rem);
  line-height: var(--fsds-code-block-typography-line-height-default, 1.5);
  margin: 0;
  overflow-x: auto;
  padding: var(--fsds-code-block-size-padding-default, 16px);
  tab-size: 2;
  white-space: pre;
}

.code-block__code {
  display: block;
  font-family: inherit;
  font-size: inherit;
}

.code-block__token[data-token="plain"] {
  color: var(--fsds-code-block-token-color-plain, #141414);
}

.code-block__token[data-token="comment"] {
  color: var(--fsds-code-block-token-color-comment, #474647);
}

.code-block__token[data-token="keyword"] {
  color: var(--fsds-code-block-token-color-keyword, #013ab0);
}

.code-block__token[data-token="definition"] {
  color: var(--fsds-code-block-token-color-definition, #900909);
}

.code-block__token[data-token="punctuation"] {
  color: var(--fsds-code-block-token-color-punctuation, #013ab0);
}

.code-block__token[data-token="property"] {
  color: var(--fsds-code-block-token-color-property, #6c3a00);
}

.code-block__token[data-token="static"] {
  color: var(--fsds-code-block-token-color-static, #900909);
}

.code-block__token[data-token="string"] {
  color: var(--fsds-code-block-token-color-string, #900909);
}

.code-block__token[data-token="tag"] {
  color: var(--fsds-code-block-token-color-tag, #900909);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
