@import "./ToggleSwitch.tokens.css";

/* @generated:start styles */
.toggle-switch {
  background-color: var(--fsds-toggleSwitch-color-background-default);
  color: var(--fsds-toggleSwitch-color-foreground-default);
  border-color: var(--fsds-toggleSwitch-color-border-default);
  border-radius: var(--fsds-toggleSwitch-border-radius-default);
  transition-duration: var(--fsds-toggleSwitch-motion-duration-fast);

  &:hover {
    background-color: var(--fsds-toggleSwitch-color-background-hover);
  }

  &:disabled {
    background-color: var(--fsds-toggleSwitch-color-background-disabled);
  }

  &:checked {
    background-color: var(--fsds-toggleSwitch-color-background-checked);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
