/* @generated:start tokens */
.tabs {
  --fsds-tabs-spacing-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tabs-spacing-padding: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tabs-spacing-panelGap: var(--fsds-core-spacing-size-06, 16px);
  --fsds-tabs-shape-radius: var(--fsds-core-shape-radius-medium, 8px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
