@import "./ShowMore.tokens.css";

/* @generated:start styles */
.show-more {
  background-color: var(--fsds-show-more-color-background-default);
  color: var(--fsds-show-more-color-foreground-secondary);
  border-color: var(--fsds-show-more-color-border-accent);
  padding: var(--fsds-show-more-size-padding-default);
  border-radius: var(--fsds-show-more-size-radius-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
