/* @generated:start tokens */
.truncate {
  --fsds-truncate-color-foreground-link: var(--fsds-semantic-color-foreground-link, #d9292b);
  --fsds-truncate-color-background-primary: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-truncate-typography-fontWeight: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-truncate-spacing-toggle: var(--fsds-core-spacing-size-02, 2px);
  --fsds-truncate-color-foreground-linkHover: var(--fsds-semantic-link-hover-text, #ae0001);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
