/* @generated:start styles */
.truncate {
  color: var(--fsds-semantic-color-foreground-link, #d9292b);
  background-color: var(--fsds-semantic-color-background-primary, #ffffff);
  /* --fsds-semantic-typography-font-weight-medium: 500; */
  /* --fsds-core-spacing-size-02: 2px; */
}

.truncate:hover {
  color: var(--fsds-semantic-color-foreground-link-hover, #ae0001);
}

.truncate:focus-visible {}

.truncate[aria-expanded="true"] {}

.truncate__content {}

.truncate__toggle {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
