@import "./Truncate.tokens.css";

/* @generated:start styles */
.truncate {
  color: var(--fsds-truncate-color-foreground-link);
  background-color: var(--fsds-truncate-color-background-primary);

  &:hover {
    color: var(--fsds-truncate-color-foreground-linkHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
