@import "./Table.tokens.css";

/* @generated:start styles */
.table {
  color: var(--fsds-table-color-textMuted);
  border-color: var(--fsds-table-color-border);
  background-color: var(--fsds-table-color-background-footer);
  border-width: var(--fsds-table-border-width);
  gap: var(--fsds-table-spacing-sortGap);
  border-radius: var(--fsds-table-size-radius);
  font-size: var(--fsds-table-text-sizeCaption);
  line-height: var(--fsds-table-text-lineHeight);
  font-weight: var(--fsds-table-text-weightFooter);

  &:hover {
    background-color: var(--fsds-table-color-background-hover);
  }

  &[aria-selected="true"] {
    background-color: var(--fsds-table-color-background-selected);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
