@import "./Checkbox.tokens.css";

/* @generated:start styles */
.checkbox {
  background-color: var(--fsds-checkbox-color-background-default);
  border-color: var(--fsds-checkbox-color-border-default);
  border-width: var(--fsds-checkbox-border-width);
  border-radius: var(--fsds-checkbox-border-radius);
  transition-duration: var(--fsds-checkbox-transition-duration);

  &:hover {
    border-color: var(--fsds-checkbox-color-border-hover);
  }

  &:checked {
    background-color: var(--fsds-checkbox-color-background-checked);
  }

  &:disabled {
    background-color: var(--fsds-checkbox-color-background-disabled);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
