@import "./Tabs.tokens.css";

/* @generated:start styles */
.tabs {
  gap: var(--fsds-tabs-spacing-panelGap);
  padding: var(--fsds-tabs-spacing-padding);
  border-radius: var(--fsds-tabs-shape-radius);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
