@import "./Tooltip.tokens.css";

/* @generated:start styles */
.tooltip {
  background-color: var(--fsds-tooltip-color-background-default);
  color: var(--fsds-tooltip-color-foreground-default);
  border-color: var(--fsds-tooltip-color-border-default);
  padding: var(--fsds-tooltip-size-padding-x);
  border-radius: var(--fsds-tooltip-size-radius-default);
  max-width: var(--fsds-tooltip-size-maxWidth);
  font-size: var(--fsds-tooltip-typography-fontSize);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
