/* @generated:start tokens */
:root {
  --fsds-tooltip-color-background-default: var(--fsds-semantic-color-background-inverse, #141414);
  --fsds-tooltip-color-foreground-default: var(--fsds-semantic-color-foreground-inverse, #fafafa);
  --fsds-tooltip-color-border-default: var(--fsds-semantic-color-border-subtle, #cecece);
  --fsds-tooltip-size-padding-y: var(--fsds-core-spacing-size-03, 4px);
  --fsds-tooltip-size-padding-x: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tooltip-size-radius-default: var(--fsds-core-shape-radius-small, 4px);
  --fsds-tooltip-size-maxWidth: 200px;
  --fsds-tooltip-typography-fontSize: var(--fsds-semantic-typography-caption-01, 14px);
  --fsds-tooltip-layer-content: var(--fsds-core-layer-tooltip, 1800);
}

.tooltip {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-block-end: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-padding-inline-end: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-gap: var(--fsds-semantic-surface-size-gap, 12px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: var(--fsds-semantic-surface-size-min-width, 64px);
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
