@import "./Truncate.tokens.css";

/* @generated:start styles */
.truncate {
  color: var(--fsds-truncate-color-foreground-link);
  background-color: var(--fsds-truncate-color-background-primary);
  /* --fsds-semantic-typography-font-weight-medium: 500; */
  /* --fsds-core-spacing-size-02: 2px; */

  &:hover {
    color: var(--fsds-truncate-color-foreground-linkHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
