/* @generated:start tokens */
.alert-notice {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: var(--fsds-semantic-feedback-size-padding-block, 16px);
  --fsds-box-model-padding-block-end: var(--fsds-semantic-feedback-size-padding-block, 16px);
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: var(--fsds-semantic-feedback-size-padding-inline, 16px);
  --fsds-box-model-padding-inline-end: var(--fsds-semantic-feedback-size-padding-inline, 16px);
  --fsds-box-model-gap: var(--fsds-semantic-feedback-size-gap, 8px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-alert-notice-color-background-primary: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-alert-notice-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-alert-notice-color-background-info: var(--fsds-semantic-color-background-info-subtle, #95dafb);
  --fsds-alert-notice-color-background-success: var(--fsds-semantic-color-background-success-subtle, #b3dba7);
  --fsds-alert-notice-color-background-warning: var(--fsds-semantic-color-background-warning-subtle, #fdc67f);
  --fsds-alert-notice-color-background-danger: var(--fsds-semantic-color-background-danger-subtle, #fac2c2);
  --fsds-alert-notice-color-foreground-info: var(--fsds-semantic-color-foreground-on-info-subtle, #013ab0);
  --fsds-alert-notice-color-foreground-success: var(--fsds-semantic-color-foreground-on-success-subtle, #2c4f09);
  --fsds-alert-notice-color-foreground-warning: var(--fsds-semantic-color-foreground-on-warning-subtle, #6c3a00);
  --fsds-alert-notice-color-foreground-danger: var(--fsds-semantic-color-foreground-on-danger-subtle, #900909);
  --fsds-alert-notice-color-border-info: var(--fsds-semantic-color-border-info, #034fd6);
  --fsds-alert-notice-color-border-success: var(--fsds-semantic-color-border-success, #3a6614);
  --fsds-alert-notice-color-border-warning: var(--fsds-semantic-color-border-warning, #8b4b00);
  --fsds-alert-notice-color-border-danger: var(--fsds-semantic-color-border-danger, #b31b1b);
  --fsds-alert-notice-size-padding: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-notice-size-radius: var(--fsds-semantic-shape-control-radius-default, 6px);
  --fsds-alert-notice-spacing-gap: var(--fsds-semantic-spacing-gap-gridSmall, 8px);
  --fsds-alert-notice-text-size: var(--fsds-semantic-typography-body-03, 14px);
  --fsds-alert-notice-text-weight: var(--fsds-semantic-typography-font-weight-regular, 400);
  --fsds-alert-notice-icon-size: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-notice-typography-title-fontWeight: var(--fsds-semantic-typography-font-weight-bold, 700);
  --fsds-alert-notice-typography-title-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-notice-size-padding-inline: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-notice-size-padding-page: var(--fsds-core-spacing-size-07, 24px);
  --fsds-alert-notice-typography-page-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-notice-typography-page-title-fontSize: var(--fsds-semantic-typography-body-01, 18px);
  --fsds-alert-notice-typography-inline-fontSize: var(--fsds-semantic-typography-body-04, 12px);
}

.alert-notice--inline {
  --fsds-alert-notice-size-padding: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-notice-spacing-gap: var(--fsds-core-spacing-size-03, 4px);
  --fsds-alert-notice-text-size: var(--fsds-semantic-typography-body-04, 12px);
  --fsds-alert-notice-typography-title-fontSize: var(--fsds-semantic-typography-body-03, 14px);
}

.alert-notice--section {
  --fsds-alert-notice-size-padding: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-notice-spacing-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-notice-text-size: var(--fsds-semantic-typography-body-03, 14px);
  --fsds-alert-notice-typography-title-fontSize: var(--fsds-semantic-typography-body-02, 16px);
}

.alert-notice--page {
  --fsds-alert-notice-size-padding: var(--fsds-core-spacing-size-07, 24px);
  --fsds-alert-notice-spacing-gap: var(--fsds-core-spacing-size-05, 12px);
  --fsds-alert-notice-text-size: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-notice-typography-title-fontSize: var(--fsds-semantic-typography-body-01, 18px);
  --fsds-alert-notice-typography-title-fontWeight: var(--fsds-semantic-typography-font-weight-bold, 700);
  --fsds-alert-notice-color-background-info: var(--fsds-semantic-color-background-info-softer, #cfeefe);
  --fsds-alert-notice-color-background-success: var(--fsds-semantic-color-background-success-softer, #ddefd8);
  --fsds-alert-notice-color-background-warning: var(--fsds-semantic-color-background-warning-softer, #ffe6c8);
  --fsds-alert-notice-color-background-danger: var(--fsds-semantic-color-background-danger-softer, #fee4e4);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
