@import "./AlertNotice.tokens.css";

/* @generated:start styles */
.alert-notice {
  background-color: var(--fsds-alert-notice-color-background-danger);
  color: var(--fsds-alert-notice-color-foreground-danger);
  border-color: var(--fsds-alert-notice-color-border-danger);
  padding: var(--fsds-alert-notice-size-padding);
  border-radius: var(--fsds-alert-notice-size-radius);
  gap: var(--fsds-alert-notice-spacing-gap);
  font-size: var(--fsds-alert-notice-text-size);
  font-weight: var(--fsds-alert-notice-text-weight);
}

.alert-notice__title {
  font-weight: var(--fsds-alert-notice-typography-title-fontWeight);
  font-size: var(--fsds-alert-notice-typography-title-fontSize);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
