/* @generated:start tokens */
.blockquote {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-blockquote-color-foreground-primary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-blockquote-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-blockquote-color-border-default: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-blockquote-typography-fontStyle: var(--fsds-semantic-typography-font-style-italic, italic);
  --fsds-blockquote-typography-fontWeight: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-blockquote-size-padding-default: var(--fsds-core-spacing-size-05, 12px);
  --fsds-blockquote-size-radius-default: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-blockquote-size-border-thick: var(--fsds-core-shape-border-width-thick, 2px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
