@import "./Blockquote.tokens.css";

/* @generated:start styles */
.blockquote {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-blockquote-color-foreground-primary);
  background-color: var(--fsds-blockquote-color-background-default);
  border-color: var(--fsds-blockquote-color-border-default);
  padding: var(--fsds-blockquote-size-padding-default);
  border-radius: var(--fsds-blockquote-size-radius-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
