@import "./Checkbox.tokens.css";

/* @generated:start styles */
.checkbox {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.checkbox__indicator {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: var(--fsds-checkbox-border-radius);
  border-color: var(--fsds-checkbox-color-border-default);
  background-color: var(--fsds-checkbox-color-background-default);
  border-style: solid;
  border-width: var(--fsds-checkbox-border-width);
  box-sizing: border-box;
  transition-duration: var(--fsds-checkbox-transition-duration);
}

:has(.checkbox__input:focus-visible) .checkbox__indicator {
  outline-width: var(--fsds-checkbox-focus-ring-width);
  outline-color: var(--fsds-checkbox-focus-ring-color);
  outline-style: var(--fsds-checkbox-focus-ring-style);
  outline-offset: var(--fsds-checkbox-focus-ring-offset);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
