/* @generated:start tokens */
.label {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: var(--fsds-semantic-display-size-gap, 4px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-label-color-text-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-label-typo-weight-default: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-label-typo-lineHeight-default: var(--fsds-semantic-typography-line-height-tight, 1.2);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
