/* @generated:start styles */
.chip {
  background-color: var(--semantic-color-action-background-secondary-default, #fafafa);
  color: var(--semantic-color-action-foreground-secondary-default, #141414);
  border-color: var(--semantic-color-action-border-secondary-default, #aeaeae);
  padding: var(--core-spacing-size-02, 2px);
  gap: var(--core-spacing-size-02, 2px);
  border-radius: var(--core-shape-radius-full, 9999px);
  font-size: var(--semantic-typography-body-04, 12px);
  font-weight: var(--semantic-typography-font-weight-medium, 500);
  transition-duration: var(--core-motion-duration-short, 150ms);
  /* --core-shape-border-width-hairline: 1px; */
}

.chip--default {}

.chip--selected {}

.chip--dismissible {}

.chip--small {}

.chip--medium {}

.chip--large {}

.chip:hover {
  background-color: var(--semantic-color-action-background-secondary-hover, #efefef);
}

.chip:focus-visible {}

.chip:active {
  background-color: var(--semantic-color-action-background-secondary-active, #cecece);
}

.chip:disabled {}

.chip__icon {}

.chip__text {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
