@import "./Select.tokens.css";

/* @generated:start styles */
.select {
  background-color: var(--fsds-select-color-background-default);
  color: var(--fsds-select-color-foreground-default);
  border-color: var(--fsds-select-color-border-default);
  padding: var(--fsds-select-size-padding-default);
  border-radius: var(--fsds-select-size-radius-default);
  font-size: var(--fsds-select-font-size-default);
  line-height: var(--fsds-select-font-lineHeight-default);
  /* --fsds-semantic-color-foreground-secondary: #555555; */
  /* --fsds-semantic-color-foreground-placeholder: #8f8f8f; */
  /* --fsds-core-shape-border-width-hairline: 1px; */
  /* --fsds-semantic-control-size-md-height: 32px; */

  &:hover {
    background-color: var(--fsds-select-color-background-hover);
    color: var(--fsds-select-color-foreground-hover);
    border-color: var(--fsds-select-color-border-hover);
  }

  &:disabled {
    background-color: var(--fsds-select-color-background-disabled);
    color: var(--fsds-select-color-foreground-disabled);
    border-color: var(--fsds-select-color-border-disabled);
  }

  &[aria-selected="true"] {
    background-color: var(--fsds-select-color-background-selected);
    color: var(--fsds-select-color-foreground-selected);
  }
}

.select--sm {
  /* --fsds-semantic-control-size-sm-height: 24px; */
}

.select--md {
  /* --fsds-semantic-control-size-md-height: 32px; */
}

.select--lg {
  /* --fsds-semantic-control-size-lg-height: 48px; */
}

.select--open {
  border-color: var(--fsds-select-color-border-isOpen);
  /* --fsds-semantic-color-foreground-accent: #d9292b; */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
