@import "../../primitives/box-model.css";
@import "./Shuttle.tokens.css";
@layer components.defaults {

/* @generated:start styles */
.shuttle {
  padding-block-start: var(--fsds-box-model-padding-block-start, 0);
  padding-block-end: var(--fsds-box-model-padding-block-end, 0);
  padding-inline-start: var(--fsds-box-model-padding-inline-start, 0);
  padding-inline-end: var(--fsds-box-model-padding-inline-end, 0);
  gap: var(--fsds-box-model-gap, var(--fsds-semantic-structure-size-gap, 16px));
  width: var(--fsds-box-model-width, auto);
  min-width: var(--fsds-box-model-min-width, 0);
  max-width: var(--fsds-box-model-max-width, none);
  height: var(--fsds-box-model-height, auto);
  min-height: var(--fsds-box-model-min-height, 0);
  max-height: var(--fsds-box-model-max-height, none);
  background-color: var(--fsds-shuttle-design-root-background-fill, var(--fsds-shuttle-color-background-default, #f7f7f7));
  border-color: var(--fsds-shuttle-design-root-border-color, var(--fsds-shuttle-color-border-accent, #d92d2e));
  padding: var(--fsds-shuttle-design-root-spacing-padding, var(--fsds-shuttle-size-padding-default, 24px));
  border-radius: var(--fsds-shuttle-design-root-shape-radius, var(--fsds-shuttle-size-radius-default, 6px));
}

.shuttle__item {
  display: flex;
  align-items: center;
  padding: var(--fsds-shuttle-design-item-spacing-padding, 4px 8px);
  color: var(--fsds-shuttle-design-item-foreground-color, var(--fsds-shuttle-color-foreground-primary, #141414));
  border-block-end-style: solid;
  border-block-end-width: var(--fsds-shuttle-design-item-border-block-end-width, 1px);
  border-block-end-color: var(--fsds-shuttle-design-item-border-block-end-color, var(--fsds-shuttle-color-border-default, #b8b8b8));
  cursor: pointer;
}
/* @generated:end */

}
/* @custom:start overrides */

/* @custom:end */
