@import "./Shuttle.tokens.css";

/* @generated:start styles */
.shuttle {
  background-color: var(--fsds-shuttle-color-background-default);
  color: var(--fsds-shuttle-color-foreground-secondary);
  border-color: var(--fsds-shuttle-color-border-accent);
  padding: var(--fsds-shuttle-size-padding-default);
  border-radius: var(--fsds-shuttle-size-radius-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
