@import "./Shuttle.tokens.css";

/* @generated:start styles */
.shuttle {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-shuttle-color-background-default, #d0d0d0);
  border-color: var(--fsds-shuttle-color-border-accent, #d92d2e);
  padding: var(--fsds-shuttle-size-padding-default, 24px);
  border-radius: var(--fsds-shuttle-size-radius-default, 6px);
}

.shuttle__item {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  color: var(--fsds-shuttle-color-foreground-primary, #141414);
  border-block-end-style: solid;
  border-block-end-width: 1px;
  border-block-end-color: var(--fsds-shuttle-color-border-default, #b8b8b8);
  cursor: pointer;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
