@import "../../primitives/box-model.css";
@import "./ProfileFlag.tokens.css";
@layer components.defaults {

/* @generated:start styles */
.profile-flag {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding-block-start: var(--fsds-box-model-padding-block-start, 2px);
  padding-block-end: var(--fsds-box-model-padding-block-end, 2px);
  padding-inline-start: var(--fsds-box-model-padding-inline-start, 4px);
  padding-inline-end: var(--fsds-box-model-padding-inline-end, 4px);
  gap: var(--fsds-profile-flag-design-root-spacing-gap, var(--fsds-profile-flag-spacing-gap-default, 4px));
  width: var(--fsds-box-model-width, auto);
  min-width: var(--fsds-box-model-min-width, 0);
  max-width: var(--fsds-box-model-max-width, none);
  height: var(--fsds-box-model-height, auto);
  min-height: var(--fsds-box-model-min-height, var(--fsds-semantic-glyph-size-medium-extent, 16px));
  max-height: var(--fsds-box-model-max-height, none);
  background-color: var(--fsds-profile-flag-design-root-background-fill, var(--fsds-profile-flag-color-background-default, #ffffff));
  border-color: var(--fsds-profile-flag-design-root-border-color, var(--fsds-profile-flag-color-border-default, #b8b8b8));
  color: var(--fsds-profile-flag-design-root-foreground-color, var(--fsds-profile-flag-color-foreground-primary, #141414));
  border-radius: var(--fsds-profile-flag-design-root-shape-radius, var(--fsds-profile-flag-size-radius-default, 6px));
  padding: var(--fsds-profile-flag-design-root-spacing-padding, var(--fsds-profile-flag-spacing-padding-right, 16px));

  &:hover {
    border-color: var(--fsds-profile-flag-design-hover-border-color, var(--fsds-profile-flag-color-border-hover, #888889));
  }
}
/* @generated:end */

}
/* @custom:start overrides */

/* @custom:end */
