@import "./Skeleton.tokens.css";

/* @generated:start styles */
.skeleton {
  display: block;
  box-sizing: border-box;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-skeleton-color-base);
  transition-duration: var(--fsds-skeleton-anim-duration);
  transition-timing-function: var(--fsds-skeleton-anim-easing);
  animation: skeleton-shimmer var(--fsds-skeleton-anim-duration, 400ms) var(--fsds-skeleton-anim-easing, cubic-bezier(0.4, 0, 0.2, 1)) infinite;
}
/* @generated:end */

/* @generated:start keyframes */
@keyframes skeleton-shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
