@import "./Skeleton.tokens.css";

/* @generated:start styles */
.skeleton {
  border-radius: var(--fsds-skeleton-radius-lg);
  gap: var(--fsds-skeleton-gap-lg);
  transition-duration: var(--fsds-skeleton-anim-duration);
  transition-timing-function: var(--fsds-skeleton-anim-easing);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
