@import "./Card.tokens.css";

/* @generated:start styles */
.card {
  background-color: var(--fsds-card-color-background-default);
  border-color: var(--fsds-card-color-border-default);
  color: var(--fsds-card-color-foreground-link);
  padding: var(--fsds-card-size-padding-default);
  border-radius: var(--fsds-card-size-radius-default);
  gap: var(--fsds-card-size-gap-default);
  line-height: var(--fsds-card-typography-lineHeight-normal);

  &:hover {
    background-color: var(--fsds-card-color-background-hover);
  }
}

.card__badge {
  background-color: var(--fsds-card-color-badge-accent-background);
  color: var(--fsds-card-color-badge-accent-foreground);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
