@import "./Field.tokens.css";

/* @generated:start styles */
.field {
  gap: var(--fsds-field-gap-meta);
  border-radius: var(--fsds-field-radius);
  border-color: var(--fsds-field-color-borderBold);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
