/* @generated:start tokens */
.tabs {
  --fsds-tabs-spacing-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tabs-spacing-padding: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tabs-spacing-pillPadding: 4px 10px;
  --fsds-tabs-spacing-panelGap: var(--fsds-core-spacing-size-06, 16px);
  --fsds-tabs-color-fg: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-tabs-color-disabled-fg: var(--fsds-semantic-color-foreground-disabled, #aeaeae);
  --fsds-tabs-color-indicator: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-tabs-shape-radius: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-tabs-motion-indicator: var(--fsds-core-motion-duration-short, 150ms);
  --fsds-tabs-color-hover-bg: var(--fsds-semantic-color-background-hover, #cecece);
  --fsds-tabs-color-hover-fg: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-tabs-color-active-fg: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-tabs-color-active-bg: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-tabs-color-focus: var(--fsds-semantic-color-border-accent, #d9292b);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
