/* @generated:start tokens */
.tooltip {
  --fsds-tooltip-color-background-default: var(--fsds-semantic-color-background-inverse, #141414);
  --fsds-tooltip-color-foreground-default: var(--fsds-semantic-color-foreground-inverse, #fafafa);
  --fsds-tooltip-color-border-default: var(--fsds-semantic-color-border-subtle, #cecece);
  --fsds-tooltip-size-padding-y: var(--fsds-core-spacing-size-03, 4px);
  --fsds-tooltip-size-padding-x: var(--fsds-core-spacing-size-04, 8px);
  --fsds-tooltip-size-radius-default: var(--fsds-core-shape-radius-small, 4px);
  --fsds-tooltip-size-maxWidth: 200px;
  --fsds-tooltip-typography-fontSize: var(--fsds-semantic-typography-caption-01, 14px);
  --fsds-tooltip-layer-content: var(--fsds-core-layer-tooltip, 1800);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
