/* @generated:start tokens */
.text {
  --fsds-text-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-text-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-text-typography-fontWeight-light: var(--fsds-semantic-typography-font-weight-light, 300);
  --fsds-text-typography-fontWeight-regular: var(--fsds-semantic-typography-font-weight-regular, 400);
  --fsds-text-typography-fontWeight-medium: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
  --fsds-text-typography-lineHeight-heading: var(--fsds-semantic-typography-line-height-heading, 1);
  --fsds-text-typography-lineHeight-body: var(--fsds-semantic-typography-line-height-body, 1.5);
  --fsds-text-color-foreground-danger: var(--fsds-semantic-color-foreground-danger, #d9292b);
  --fsds-text-color-foreground-success: var(--fsds-semantic-color-foreground-success, #487e1e);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
