@import "./Text.tokens.css";

/* @generated:start styles */
.text {
  color: var(--fsds-text-color-foreground-primary);
  line-height: var(--fsds-text-typography-lineHeight-body);
  margin: 0;
}

.text__title {
  font-weight: var(--fsds-text-typography-fontWeight-bold);
  line-height: var(--fsds-text-typography-lineHeight-heading);
  color: var(--fsds-text-color-foreground-primary);
  margin: 0;
}

.text__body {
  font-weight: var(--fsds-text-typography-fontWeight-regular);
  line-height: var(--fsds-text-typography-lineHeight-body);
  color: var(--fsds-text-color-foreground-secondary);
  margin: 0;
}

.text__error {
  color: var(--fsds-text-color-foreground-danger);
}

.text__success {
  color: var(--fsds-text-color-foreground-success);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
