@import "./Details.tokens.css";

/* @generated:start styles */
.details {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-details-spacing-gap-default);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  padding: var(--fsds-details-size-padding-default);
  border-radius: var(--fsds-details-size-radius-default);
  background-color: var(--fsds-details-color-background-default);
  color: var(--fsds-details-color-foreground-secondary);
  border-color: var(--fsds-details-color-border-accent);
  line-height: var(--fsds-details-typography-lineHeight-body);
  display: block;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;

  &:hover {
    background-color: var(--fsds-details-color-background-hover);
    border-color: var(--fsds-details-color-border-hover);
  }

  &[open] .details__icon {
    transform: rotate(180deg);
  }
}

.details__summary {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--fsds-details-spacing-gap-default);
  list-style: none;
  padding: var(--fsds-details-size-padding-default);
  color: var(--fsds-details-color-foreground-primary);
  font-weight: var(--fsds-details-typography-fontWeight-medium);
}

.details__summary:hover {
  background-color: var(--fsds-details-color-background-hover);
}

.details__summary:focus-visible {
  outline-width: var(--fsds-details-focus-ring-width);
  outline-color: var(--fsds-details-focus-ring-color);
  outline-offset: var(--fsds-details-focus-ring-offset);
  outline-style: solid;
}

.details__summaryContent {
  display: flex;
  align-items: center;
  gap: var(--fsds-details-spacing-gap-default);
  flex: 1 1 auto;
}

.details__summaryText {
  flex: 1 1 auto;
  color: var(--fsds-details-color-foreground-primary);
}

.details__icon {
  display: inline-flex;
  flex-shrink: 0;
  width: var(--fsds-details-size-icon);
  height: var(--fsds-details-size-icon);
  transition: transform 200ms ease;
  align-items: center;
  justify-content: center;
}

.details__content {
  display: block;
  padding: var(--fsds-details-size-padding-default);
  color: var(--fsds-details-color-foreground-primary);
  line-height: var(--fsds-details-typography-lineHeight-body);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
