/* @generated:start styles */
.postcard {
  background-color: var(--fsds-semantic-color-background-primary, #ffffff);
  border-color: var(--fsds-semantic-color-border-accent, #d9292b);
  color: var(--fsds-semantic-color-foreground-secondary, #555555);
  padding: var(--fsds-core-spacing-size-06, 16px);
  border-radius: var(--fsds-core-shape-radius-full, 9999px);
  gap: var(--fsds-core-spacing-size-03, 4px);
  line-height: var(--fsds-semantic-typography-line-height-body, 1.5);
  /* --fsds-core-shape-border-width-hairline: 1px; */
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-font-weight-medium: 500; */
  /* --fsds-semantic-typography-body-03: 14px; */
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-body-03: 14px; */
}

.postcard--image {}

.postcard--video {}

.postcard--audio {}

.postcard:hover {
  background-color: var(--fsds-semantic-color-background-secondary, #efefef);
  border-color: var(--fsds-semantic-color-border-bold, #8f8f8f);
}

.postcard__header {}

.postcard__userInfo {}

.postcard__displayName {
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-font-weight-medium: 500; */
}

.postcard__handle {
  /* --fsds-semantic-typography-body-03: 14px; */
}

.postcard__timestamp {}

.postcard__content {
  line-height: var(--fsds-semantic-typography-line-height-body, 1.5);
  /* --fsds-semantic-typography-body-02: 16px; */
}

.postcard__footer {
  /* --fsds-semantic-typography-body-03: 14px; */
}

.postcard__stats {}

.postcard__stat {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
