@layer components {
/* @generated:start tokens */
.badge {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 2px;
  --fsds-box-model-padding-block-end: 2px;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 8px;
  --fsds-box-model-padding-inline-end: 8px;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: var(--fsds-semantic-glyph-size-medium-extent, 16px);
  --fsds-box-model-max-height: none;
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-secondary, #d0d0d0);
  --fsds-badge-color-background-hover: var(--fsds-semantic-interaction-background-hover, #d0d0d0);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-border-subtle, #d0d0d0);
  --fsds-badge-spacing-gap: var(--fsds-semantic-glyph-badge-size-md-gap, 4px);
  --fsds-badge-size-radius: var(--fsds-semantic-shape-control-radius-pill, 9999px);
  --fsds-badge-size-border: var(--fsds-semantic-shape-control-border-default-width, 1px);
  --fsds-badge-size-padding-x: var(--fsds-semantic-glyph-badge-size-md-padding-x, 8px);
  --fsds-badge-size-padding-y: var(--fsds-semantic-glyph-badge-size-md-padding-y, 2px);
  --fsds-badge-size-font-size: var(--fsds-semantic-glyph-badge-size-md-font-size, 12px);
  --fsds-badge-size-min-height: var(--fsds-semantic-glyph-badge-size-md-min-height, 24px);
  --fsds-badge-text-weight: var(--fsds-semantic-typography-font-weight-medium, 500);
}

.badge--sm {
  --fsds-badge-size-padding-x: var(--fsds-semantic-glyph-badge-size-sm-padding-x, 4px);
  --fsds-badge-size-padding-y: var(--fsds-semantic-glyph-badge-size-sm-padding-y, 2px);
  --fsds-badge-size-font-size: var(--fsds-semantic-glyph-badge-size-sm-font-size, 10px);
  --fsds-badge-size-min-height: var(--fsds-semantic-glyph-badge-size-sm-min-height, 16px);
  --fsds-badge-spacing-gap: var(--fsds-semantic-glyph-badge-size-sm-gap, 2px);
}

.badge--md {
  --fsds-badge-size-padding-x: var(--fsds-semantic-glyph-badge-size-md-padding-x, 8px);
  --fsds-badge-size-padding-y: var(--fsds-semantic-glyph-badge-size-md-padding-y, 2px);
  --fsds-badge-size-font-size: var(--fsds-semantic-glyph-badge-size-md-font-size, 12px);
  --fsds-badge-size-min-height: var(--fsds-semantic-glyph-badge-size-md-min-height, 24px);
  --fsds-badge-spacing-gap: var(--fsds-semantic-glyph-badge-size-md-gap, 4px);
}

.badge--lg {
  --fsds-badge-size-padding-x: var(--fsds-semantic-glyph-badge-size-lg-padding-x, 12px);
  --fsds-badge-size-padding-y: var(--fsds-semantic-glyph-badge-size-lg-padding-y, 4px);
  --fsds-badge-size-font-size: var(--fsds-semantic-glyph-badge-size-lg-font-size, 14px);
  --fsds-badge-size-min-height: var(--fsds-semantic-glyph-badge-size-lg-min-height, 32px);
  --fsds-badge-spacing-gap: var(--fsds-semantic-glyph-badge-size-lg-gap, 4px);
}

.badge--info {
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-info-subtle, #95dafb);
  --fsds-badge-color-background-hover: var(--fsds-semantic-color-background-info-subtle, #95dafb);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-on-info-subtle, #013ab0);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-border-info, #034fd6);
}

.badge--success {
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-success-subtle, #b3dba7);
  --fsds-badge-color-background-hover: var(--fsds-semantic-color-background-success-subtle, #b3dba7);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-on-success-subtle, #2c4f09);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-border-success, #3a6614);
}

.badge--warning {
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-warning-subtle, #fdc67f);
  --fsds-badge-color-background-hover: var(--fsds-semantic-color-background-warning-subtle, #fdc67f);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-on-warning-subtle, #6c3a00);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-border-warning, #8b4b00);
}

.badge--danger {
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-danger-subtle, #fac2c2);
  --fsds-badge-color-background-hover: var(--fsds-semantic-color-background-danger-subtle, #fac2c2);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-on-danger-subtle, #900909);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-border-danger, #b31b1b);
}

.badge--counter {
  --fsds-badge-color-background-default: var(--fsds-semantic-color-background-danger-strong, #b31b1b);
  --fsds-badge-color-foreground-primary: var(--fsds-semantic-color-foreground-inverse, #fafafa);
  --fsds-badge-color-border-default: var(--fsds-semantic-color-background-danger-strong, #b31b1b);
}

.badge--tag {
  --fsds-badge-size-radius: var(--fsds-semantic-shape-control-radius-default, 6px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
