@import "./Dialog.tokens.css";

/* @generated:start styles */
.dialog {
  background-color: var(--fsds-dialog-color-background-backdrop);
  color: var(--fsds-dialog-color-foreground-secondary);
  border-color: var(--fsds-dialog-color-border-default);
  border-radius: var(--fsds-dialog-size-radius-default);
  padding: var(--fsds-dialog-spacing-body-paddingRight);
  gap: var(--fsds-dialog-spacing-footer-gap);
  line-height: var(--fsds-dialog-typography-title-lineHeight);

  &:hover {
    background-color: var(--fsds-dialog-color-background-hover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
