/* @generated:start tokens */
.avatar {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: var(--fsds-semantic-glyph-size-medium-extent, 16px);
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: var(--fsds-semantic-glyph-size-medium-extent, 16px);
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-avatar-size-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-avatar-size-small: var(--fsds-core-spacing-size-06, 16px);
  --fsds-avatar-size-medium: var(--fsds-core-spacing-size-07, 24px);
  --fsds-avatar-size-large: var(--fsds-core-spacing-size-08, 32px);
  --fsds-avatar-size-extra-large: var(--fsds-core-spacing-size-09, 48px);
  --fsds-avatar-size-radius-default: var(--fsds-semantic-shape-control-radius-pill, 9999px);
  --fsds-avatar-size-border-default: var(--fsds-semantic-shape-control-border-defaultWidth, 1px);
  --fsds-avatar-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-avatar-color-background-inverse: var(--fsds-semantic-color-background-inverse, #141414);
  --fsds-avatar-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-avatar-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-avatar-typography-fontWeight-medium: var(--fsds-core-typography-weight-medium, 500);
  --fsds-avatar-typography-fontFamily-sans: var(--fsds-core-typography-font-family-sans, "Inter", sans-serif);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
