@import "./Avatar.tokens.css";

/* @generated:start styles */
.avatar {
  border-radius: var(--fsds-avatar-size-radius-small);
  background-color: var(--fsds-avatar-color-background-inverse);
  color: var(--fsds-avatar-color-foreground-primary);
  border-color: var(--fsds-avatar-color-border-default);
  /* --fsds-core-spacing-size-05: 12px; */
  /* --fsds-core-spacing-size-06: 16px; */
  /* --fsds-core-spacing-size-08: 32px; */
  /* --fsds-core-spacing-size-10: 64px; */
  /* --fsds-core-spacing-size-03: 4px; */
  /* --fsds-core-shape-border-width-hairline: 1px; */
  /* --fsds-core-typography-weight-medium: 500; */
  /* --fsds-core-typography-font-family-sans: "Inter", sans-serif; */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
