@import "./Avatar.tokens.css";

/* @generated:start styles */
.avatar {
  border-radius: var(--fsds-avatar-size-radius-small);
  background-color: var(--fsds-avatar-color-background-inverse);
  color: var(--fsds-avatar-color-foreground-primary);
  border-color: var(--fsds-avatar-color-border-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
