@import "./List.tokens.css";

/* @generated:start styles */
.list {
  color: var(--fsds-list-color-foreground-primary);
  border-color: var(--fsds-list-color-border-default);
  padding: var(--fsds-list-size-padding-default);
  /* --fsds-core-spacing-size-03: 4px; */
  /* --fsds-core-spacing-size-05: 12px; */
  /* --fsds-core-spacing-size-06: 16px; */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
