@import "../../primitives/box-model.css";
@import "./Breadcrumbs.tokens.css";
@layer components.defaults {

/* @generated:start styles */
.breadcrumbs {
  padding-block-start: var(--fsds-box-model-padding-block-start, 0);
  padding-block-end: var(--fsds-box-model-padding-block-end, 0);
  padding-inline-start: var(--fsds-box-model-padding-inline-start, 0);
  padding-inline-end: var(--fsds-box-model-padding-inline-end, 0);
  gap: var(--fsds-box-model-gap, var(--fsds-semantic-structure-size-gap, 16px));
  width: var(--fsds-box-model-width, auto);
  min-width: var(--fsds-box-model-min-width, 0);
  max-width: var(--fsds-box-model-max-width, none);
  height: var(--fsds-box-model-height, auto);
  min-height: var(--fsds-box-model-min-height, 0);
  max-height: var(--fsds-box-model-max-height, none);
  background-color: var(--fsds-breadcrumbs-design-root-background-fill, var(--fsds-breadcrumbs-color-background-elevated, #ffffff));
  border-color: var(--fsds-breadcrumbs-design-root-border-color, var(--fsds-breadcrumbs-color-border-subtle, #d0d0d0));
  line-height: var(--fsds-breadcrumbs-design-root-typography-line-height, var(--fsds-breadcrumbs-typography-line-height-collapse, 1));
  display: block;
  border-radius: var(--fsds-breadcrumbs-design-root-shape-radius, var(--fsds-breadcrumbs-shape-radius-medium, 6px));
  padding: var(--fsds-breadcrumbs-design-root-spacing-padding, var(--fsds-breadcrumbs-spacing-padding-default, 8px));
  color: var(--fsds-breadcrumbs-design-root-foreground-color, var(--fsds-breadcrumbs-color-foreground-primary, #141414));

  &:focus-visible {
    outline-color: var(--fsds-breadcrumbs-design-focus-focus-color, var(--fsds-breadcrumbs-color-focus, #d92d2e));
  }
}

.breadcrumbs__list {
  list-style: none;
  padding: var(--fsds-breadcrumbs-design-list-spacing-padding, 0);
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--fsds-breadcrumbs-design-list-spacing-gap, var(--fsds-breadcrumbs-spacing-gap-default, 8px));
}
/* @generated:end */

}
/* @custom:start overrides */

/* @custom:end */
