/* @generated:start tokens */
.breadcrumbs {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: var(--fsds-semantic-structure-size-gap, 8px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-breadcrumbs-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-breadcrumbs-color-foreground-link: var(--fsds-semantic-color-foreground-link, #d9292b);
  --fsds-breadcrumbs-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-breadcrumbs-color-foreground-tertiary: var(--fsds-semantic-color-foreground-tertiary, #717171);
  --fsds-breadcrumbs-color-background-elevated: var(--fsds-semantic-color-background-elevated, #ffffff);
  --fsds-breadcrumbs-color-border-subtle: var(--fsds-semantic-color-border-subtle, #cecece);
  --fsds-breadcrumbs-typography-lineHeight-collapse: var(--fsds-semantic-typography-line-height-collapse, 1);
  --fsds-breadcrumbs-shape-radius-medium: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-breadcrumbs-shape-radius-small: var(--fsds-core-shape-radius-small, 4px);
  --fsds-breadcrumbs-spacing-gap-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-breadcrumbs-spacing-gap-small: var(--fsds-core-spacing-size-03, 4px);
  --fsds-breadcrumbs-spacing-padding-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-breadcrumbs-spacing-padding-small: var(--fsds-core-spacing-size-03, 4px);
  --fsds-breadcrumbs-color-focus: var(--fsds-semantic-color-border-accent, #d9292b);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
