@import "./Breadcrumbs.tokens.css";

/* @generated:start styles */
.breadcrumbs {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-breadcrumbs-color-foreground-tertiary);
  background-color: var(--fsds-breadcrumbs-color-background-elevated);
  border-color: var(--fsds-breadcrumbs-color-border-subtle);
  line-height: var(--fsds-breadcrumbs-typography-lineHeight-collapse);
  display: block;

  &:focus-visible {
    outline-color: var(--fsds-breadcrumbs-color-focus);
  }
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--fsds-breadcrumbs-spacing-gap-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
