@import "./Truncate.tokens.css";

/* @generated:start styles */
.truncate {
  display: block;
}

.truncate__content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate__toggle {
  display: inline-flex;
  align-items: center;
  color: var(--fsds-truncate-color-foreground-link);
  font-weight: var(--fsds-truncate-typography-fontWeight);
  margin-top: var(--fsds-truncate-spacing-toggle);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
