@import "./Image.tokens.css";

/* @generated:start styles */
.image {
  display: block;
  max-width: 100%;
  background-color: var(--fsds-image-color-background-default);
  color: var(--fsds-image-color-foreground-primary);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
