@import "./Image.tokens.css";

/* @generated:start styles */
.image {
  display: block;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: 100%;
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-image-color-background-default, #d0d0d0);
  color: var(--fsds-image-color-foreground-primary, #141414);
}

.image--size-xs {
  width: var(--fsds-image-size-xs, 24px);
  height: var(--fsds-image-size-xs, 24px);
}

.image--size-sm {
  width: var(--fsds-image-size-sm, 32px);
  height: var(--fsds-image-size-sm, 32px);
}

.image--size-md {
  width: var(--fsds-image-size-md, 48px);
  height: var(--fsds-image-size-md, 48px);
}

.image--size-lg {
  width: var(--fsds-image-size-lg, 64px);
  height: var(--fsds-image-size-lg, 64px);
}

.image--size-xl {
  width: var(--fsds-image-size-xl, 96px);
  height: var(--fsds-image-size-xl, 96px);
}

.image--size-full {
  width: 100%;
  height: auto;
}

.image--radius-none {
  border-radius: var(--fsds-image-radius-none, 0px);
}

.image--radius-sm {
  border-radius: var(--fsds-image-radius-sm, 4px);
}

.image--radius-md {
  border-radius: var(--fsds-image-radius-md, 8px);
}

.image--radius-lg {
  border-radius: var(--fsds-image-radius-lg, 16px);
}

.image--radius-full {
  border-radius: var(--fsds-image-radius-full, 9999px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
