@import "./Sheet.tokens.css";

/* @generated:start styles */
.sheet {
  background-color: var(--fsds-sheet-color-background);
  border-color: var(--fsds-sheet-color-border);
  color: var(--fsds-sheet-color-textDescription);
  border-width: var(--fsds-sheet-border-width);
  border-radius: var(--fsds-sheet-border-radius);
  padding: var(--fsds-sheet-spacing-padding);
  gap: var(--fsds-sheet-spacing-gap);
  font-size: var(--fsds-sheet-text-sizeTitle);
  font-weight: var(--fsds-sheet-text-weightTitle);
  box-shadow: var(--fsds-sheet-shadow);
  /* --fsds-semantic-overlay-scrim-sheet: rgba(0,0,0,0.50); */
  /* --fsds-sheet-size-width: ; */
  /* --fsds-sheet-size-height: ; */
  /* --fsds-core-spacing-size-06: 16px; */
  /* --fsds-core-shape-border-width-thick: 2px; */
  /* --fsds-semantic-color-border-accent: #d9292b; */

  &:hover {
    background-color: var(--fsds-sheet-color-backgroundHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
