/* @generated:start tokens */
.icon {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: var(--fsds-semantic-glyph-size-medium-extent, 16px);
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: var(--fsds-semantic-glyph-size-medium-extent, 16px);
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-icon-color-foreground-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-icon-size-padding-default: var(--fsds-core-spacing-size-01, 1px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
