/* @generated:start tokens */
.avatar {
  --fsds-avatar-size-radius-default: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-avatar-size-radius-small: var(--fsds-core-shape-radius-small, 4px);
  --fsds-avatar-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-avatar-color-background-inverse: var(--fsds-semantic-color-background-inverse, #141414);
  --fsds-avatar-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-avatar-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
