@import "./Breadcrumbs.tokens.css";

/* @generated:start styles */
.breadcrumbs {
  color: var(--fsds-breadcrumbs-color-foreground-tertiary);
  background-color: var(--fsds-breadcrumbs-color-background-elevated);
  border-color: var(--fsds-breadcrumbs-color-border-subtle);
  line-height: var(--fsds-breadcrumbs-typography-lineHeight-collapse);
  border-radius: var(--fsds-breadcrumbs-shape-radius-small);
  gap: var(--fsds-breadcrumbs-spacing-gap-small);
  padding: var(--fsds-breadcrumbs-spacing-padding-small);
  display: block;

  &:focus-visible {
    outline-color: var(--fsds-breadcrumbs-color-focus);
  }
}

.breadcrumbs__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--fsds-breadcrumbs-spacing-gap-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
