@import "./Chip.tokens.css";

/* @generated:start styles */
.chip {
  background-color: var(--fsds-chip-color-background-default);
  color: var(--fsds-chip-color-foreground-default);
  border-color: var(--fsds-chip-color-border-default);
  padding: var(--fsds-chip-size-padding-vertical);
  gap: var(--fsds-chip-size-gap);
  border-radius: var(--fsds-chip-size-radius);
  font-size: var(--fsds-chip-text-size);
  font-weight: var(--fsds-chip-text-weight);
  transition-duration: var(--fsds-chip-motion-duration-fast);

  &:hover {
    background-color: var(--fsds-chip-color-background-hover);
  }

  &:active {
    background-color: var(--fsds-chip-color-background-active);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
