@import "./Chip.tokens.css";

/* @generated:start styles */
.chip {
  background-color: var(--fsds-chip-color-background-default);
  color: var(--fsds-chip-color-foreground-default);
  border-color: var(--fsds-chip-color-border-default);
  padding: var(--fsds-chip-size-padding-vertical);
  gap: var(--fsds-chip-size-gap);
  border-radius: var(--fsds-chip-size-radius);
  font-size: var(--fsds-chip-text-size);
  font-weight: var(--fsds-chip-text-weight);
  transition-duration: var(--fsds-chip-motion-duration-fast);

  &:hover {
    background-color: var(--fsds-chip-color-background-hover);
  }

  &:active {
    background-color: var(--fsds-chip-color-background-active);
  }
}

.chip__icon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-inline-end: 2px;
}

.chip__text {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--fsds-chip-text-size);
  font-weight: var(--fsds-chip-text-weight);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
