@import "./Chip.tokens.css";

/* @generated:start styles */
.chip {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-chip-size-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-chip-color-background-default);
  color: var(--fsds-chip-color-foreground-default);
  border-color: var(--fsds-chip-color-border-default);
  padding: var(--fsds-chip-size-padding-vertical);
  border-radius: var(--fsds-chip-size-radius);
  font-size: var(--fsds-chip-text-size);
  font-weight: var(--fsds-chip-text-weight);
  transition-duration: var(--fsds-chip-motion-duration-fast);

  &:focus-visible {
    outline-width: var(--fsds-chip-focus-ring-width);
    outline-color: var(--fsds-chip-focus-ring-color);
    outline-style: var(--fsds-chip-focus-ring-style);
    outline-offset: var(--fsds-chip-focus-ring-offset);
  }
}

.chip__icon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-inline-end: 2px;
}

.chip__text {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--fsds-chip-text-size);
  font-weight: var(--fsds-chip-text-weight);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
