@import "./Postcard.tokens.css";

/* @generated:start styles */
.postcard {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-postcard-size-gap-default, 12px);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-postcard-color-background-default, #ffffff);
  padding: var(--fsds-postcard-size-padding-default, 16px);
  border-radius: var(--fsds-postcard-size-radius-default, 8px);
  line-height: var(--fsds-postcard-typography-content-lineHeight, 1.5);
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: var(--fsds-postcard-size-border-default, 1px);
  box-sizing: border-box;
  border-color: var(--fsds-postcard-color-border-default, #fceaea);
  color: var(--fsds-postcard-color-foreground-primary, #141414);

  &:hover {
    background-color: var(--fsds-postcard-color-background-hover, #efefef);
    border-color: var(--fsds-postcard-color-border-hover, #8f8f8f);
  }
}

.postcard__content {
  line-height: var(--fsds-postcard-typography-content-lineHeight, 1.5);
  display: flex;
  flex-direction: column;
  gap: var(--fsds-postcard-size-gap-default, 12px);
  color: var(--fsds-postcard-color-foreground-primary, #141414);
  font-size: var(--fsds-postcard-typography-content-fontSize, 16px);
}

.postcard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--fsds-postcard-size-gap-default, 12px);
}

.postcard__userInfo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.postcard__displayName {
  font-weight: var(--fsds-postcard-typography-displayName-fontWeight, 500);
  font-size: var(--fsds-postcard-typography-displayName-fontSize, 16px);
  color: var(--fsds-postcard-color-foreground-primary, #141414);
}

.postcard__handle {
  font-size: var(--fsds-postcard-typography-handle-fontSize, 14px);
}

.postcard__timestamp {
  font-size: var(--fsds-postcard-typography-footer-fontSize, 14px);
  flex-shrink: 0;
}

.postcard__footer {
  display: flex;
  align-items: center;
  gap: var(--fsds-postcard-size-gap-default, 12px);
  padding-top: var(--fsds-postcard-size-padding-default, 16px);
  border-top-color: var(--fsds-postcard-color-border-default, #fceaea);
  border-top-style: solid;
  border-top-width: var(--fsds-postcard-size-border-default, 1px);
  font-size: var(--fsds-postcard-typography-footer-fontSize, 14px);
}

.postcard__stats {
  display: flex;
  align-items: center;
  gap: var(--fsds-postcard-size-gap-default, 12px);
}

.postcard__stat {
  display: inline-flex;
  align-items: center;
  font-size: var(--fsds-postcard-typography-footer-fontSize, 14px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
