@import "./Status.tokens.css";

/* @generated:start styles */
.status {
  background-color: var(--fsds-status-color-background-default);
  color: var(--fsds-status-color-foreground-primary);
  border-color: var(--fsds-status-color-border-default);
  border-radius: var(--fsds-status-size-radius-default);
  padding: var(--fsds-status-size-padding-default);
  line-height: var(--fsds-status-typography-lineHeight);
}

.status__icon {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 4px;
}

.status__label {
  display: inline-block;
  color: var(--fsds-status-color-foreground-primary);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
