@import "./Status.tokens.css";

/* @generated:start styles */
.status {
  background-color: var(--fsds-status-color-background-default);
  color: var(--fsds-status-color-foreground-primary);
  border-color: var(--fsds-status-color-border-default);
  border-radius: var(--fsds-status-size-radius-default);
  padding: var(--fsds-status-size-padding-default);
  line-height: var(--fsds-status-typography-lineHeight);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
