/* @generated:start tokens */
.profile-flag {
  --fsds-profileFlag-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-profileFlag-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-profileFlag-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-profileFlag-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-profileFlag-spacing-gap-default: var(--fsds-core-spacing-size-03, 4px);
  --fsds-profileFlag-spacing-padding-default: var(--fsds-core-spacing-size-04, 8px);
  --fsds-profileFlag-spacing-padding-right: var(--fsds-core-spacing-size-06, 16px);

  &:hover {
    --fsds-profileFlag-color-border-hover: var(--fsds-semantic-color-border-bold, #8f8f8f);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
