@import "./OTP.tokens.css";

/* @generated:start styles */
.otp {
  background-color: var(--fsds-otp-color-background-default);
  color: var(--fsds-otp-color-foreground-secondary);
  border-color: var(--fsds-otp-color-border-default);
  padding: var(--fsds-otp-size-padding-default);
  border-radius: var(--fsds-otp-size-radius-default);

  &:focus-visible {
    border-color: var(--fsds-otp-color-border-accent);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
