@import "./Accordion.tokens.css";

/* @generated:start styles */
.accordion {
  background-color: var(--fsds-accordion-color-background-hover);
  color: var(--fsds-accordion-color-textSecondary);
  border-width: var(--fsds-accordion-border-width);
  border-color: var(--fsds-accordion-border-color);
  border-radius: var(--fsds-accordion-border-radius);
  gap: var(--fsds-accordion-spacing-gap);
  padding: var(--fsds-accordion-spacing-paddingY);
  font-weight: var(--fsds-accordion-text-weight);
  font-size: var(--fsds-accordion-text-sizeContent);
  line-height: var(--fsds-accordion-text-lineHeightContent);
  opacity: var(--fsds-accordion-opacity-disabled);
  /* --fsds-semantic-color-foreground-tertiary: #717171; */
  /* --fsds-core-spacing-size-04: 8px; */
  /* --fsds-core-shape-border-width-thick: 2px; */
  /* --fsds-semantic-color-border-accent: #d9292b; */
  /* --fsds-core-spacing-size-01: 1px; */

  &:hover {
    color: var(--fsds-accordion-color-textHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
