/* @generated:start tokens */
.postcard {
  --fsds-postcard-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-postcard-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-postcard-color-border-accent: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-postcard-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-postcard-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-postcard-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-postcard-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-postcard-size-radius-full: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-postcard-size-gap-default: var(--fsds-core-spacing-size-05, 12px);
  --fsds-postcard-size-gap-small: var(--fsds-core-spacing-size-03, 4px);
  --fsds-postcard-typography-content-lineHeight: var(--fsds-semantic-typography-line-height-body, 1.5);

  &:hover {
    --fsds-postcard-color-background-hover: var(--fsds-semantic-color-background-secondary, #efefef);
    --fsds-postcard-color-border-hover: var(--fsds-semantic-color-border-bold, #8f8f8f);
  }

  &__content {
    --fsds-postcard-typography-content-lineHeight: var(--fsds-semantic-typography-line-height-body, 1.5);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
