@import "./Postcard.tokens.css";

/* @generated:start styles */
.postcard {
  background-color: var(--fsds-postcard-color-background-default);
  border-color: var(--fsds-postcard-color-border-accent);
  color: var(--fsds-postcard-color-foreground-secondary);
  padding: var(--fsds-postcard-size-padding-default);
  border-radius: var(--fsds-postcard-size-radius-full);
  gap: var(--fsds-postcard-size-gap-small);
  line-height: var(--fsds-postcard-typography-content-lineHeight);
  /* --fsds-core-shape-border-width-hairline: 1px; */
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-font-weight-medium: 500; */
  /* --fsds-semantic-typography-body-03: 14px; */
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-body-03: 14px; */

  &:hover {
    background-color: var(--fsds-postcard-color-background-hover);
    border-color: var(--fsds-postcard-color-border-hover);
  }
}

.postcard__displayName {
  /* --fsds-semantic-typography-body-02: 16px; */
  /* --fsds-semantic-typography-font-weight-medium: 500; */
}

.postcard__handle {
  /* --fsds-semantic-typography-body-03: 14px; */
}

.postcard__content {
  line-height: var(--fsds-postcard-typography-content-lineHeight);
  /* --fsds-semantic-typography-body-02: 16px; */
}

.postcard__footer {
  /* --fsds-semantic-typography-body-03: 14px; */
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
