/* @generated:start tokens */
.postcard {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-block-end: var(--fsds-semantic-surface-size-padding-block, 16px);
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-padding-inline-end: var(--fsds-semantic-surface-size-padding-inline, 16px);
  --fsds-box-model-gap: var(--fsds-semantic-surface-size-gap, 12px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: var(--fsds-semantic-surface-size-min-width, 64px);
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-postcard-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-postcard-color-border-default: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-postcard-color-foreground-primary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-postcard-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-postcard-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-postcard-size-radius-full: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-postcard-size-gap-default: var(--fsds-core-spacing-size-05, 12px);
  --fsds-postcard-size-border-default: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-postcard-typography-displayName-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-postcard-typography-displayName-fontWeight: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-postcard-typography-handle-fontSize: var(--fsds-semantic-typography-body-03, 14px);
  --fsds-postcard-typography-content-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-postcard-typography-content-lineHeight: var(--fsds-semantic-typography-line-height-body, 1.5);
  --fsds-postcard-typography-footer-fontSize: var(--fsds-semantic-typography-body-03, 14px);

  &:hover {
    --fsds-postcard-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
    --fsds-postcard-color-border-default: var(--fsds-semantic-color-border-bold, #8f8f8f);
  }
}

.postcard__userInfo {
  --fsds-postcard-size-gap-default: var(--fsds-core-spacing-size-03, 4px);
}

.postcard__handle {
  --fsds-postcard-color-foreground-primary: var(--fsds-semantic-color-foreground-secondary, #555555);
}

.postcard__timestamp {
  --fsds-postcard-color-foreground-primary: var(--fsds-semantic-color-foreground-secondary, #555555);
}

.postcard__stat {
  --fsds-postcard-size-gap-default: var(--fsds-core-spacing-size-03, 4px);
  --fsds-postcard-color-foreground-primary: var(--fsds-semantic-color-foreground-secondary, #555555);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
