@import "./OTP.tokens.css";

/* @generated:start styles */
.otp {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.otp__group {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.otp__field {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--fsds-otp-size-radius-default);
  border-color: var(--fsds-otp-color-border-default);
  background-color: var(--fsds-otp-color-background-default);
  color: var(--fsds-otp-color-foreground-primary);
}

.otp__field:focus-visible {
  border-color: var(--fsds-otp-color-border-accent);
  outline-width: var(--fsds-otp-focus-ring-width);
  outline-color: var(--fsds-otp-focus-ring-color);
  outline-style: var(--fsds-otp-focus-ring-style);
  outline-offset: var(--fsds-otp-focus-ring-offset);
}

.otp__field:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
