/* @generated:start styles */
.accordion {
  background-color: var(--semantic-interaction-background-hover, #efefef);
  color: var(--semantic-color-foreground-secondary, #555555);
  border-width: var(--core-shape-border-width-hairline, 1px);
  border-color: var(--semantic-color-border-light, #fceaea);
  border-radius: var(--core-shape-radius-small, 4px);
  gap: var(--core-spacing-size-07, 24px);
  padding: var(--core-spacing-size-04, 8px);
  font-weight: var(--semantic-typography-font-weight-medium, 500);
  font-size: var(--semantic-typography-body-03, 14px);
  line-height: var(--semantic-typography-line-height-loose, 1.8);
  opacity: var(--semantic-interaction-disabled-opacity, 0.5);
  /* --semantic-color-foreground-tertiary: #717171; */
  /* --core-spacing-size-04: 8px; */
  /* --core-shape-border-width-thick: 2px; */
  /* --semantic-color-border-accent: #d9292b; */
  /* --core-spacing-size-01: 1px; */
}

.accordion--single {}

.accordion--multiple {}

.accordion:hover {
  color: var(--semantic-interaction-text-hover, #555555);
}

.accordion:focus-visible {}

.accordion:disabled {}

.accordion--open {}

.accordion--closed {}

.accordion__item {}

.accordion__trigger {}

.accordion__header {}

.accordion__chevron {}

.accordion__content {}

.accordion__contentInner {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
