@layer components {
/* @generated:start tokens */
.spinner {
  --fsds-spinner-size-xs: var(--fsds-semantic-glyph-size-small-extent, 12px);
  --fsds-spinner-size-sm: var(--fsds-core-icon-size-sm, 16px);
  --fsds-spinner-size-md: var(--fsds-core-icon-size-md, 20px);
  --fsds-spinner-size-lg: var(--fsds-core-icon-size-lg, 24px);
  --fsds-spinner-thickness-hairline: 2px;
  --fsds-spinner-thickness-regular: 3px;
  --fsds-spinner-thickness-bold: 4px;
  --fsds-spinner-color-accent: var(--fsds-semantic-color-background-accent, #d92d2e);
  --fsds-spinner-color-track: var(--fsds-semantic-color-border-subtle, #d0d0d0);
  --fsds-spinner-anim-duration: 800ms;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
