/* @generated:start tokens */
.divider {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-divider-color-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-divider-color-subtle: var(--fsds-semantic-color-border-subtle, #cecece);
  --fsds-divider-color-muted: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-divider-size-thickness: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-divider-size-thicknessThick: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-divider-spacing-margin: var(--fsds-core-spacing-size-04, 8px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
