/* @generated:start styles */
.page-transition {
  transition-duration: var(--core-motion-duration-long, 400ms);
  transition-timing-function: var(--core-motion-easing-emphasized-in, cubic-bezier(0.2, 0, 0, 1));
  background-color: var(--semantic-color-background-image-overlay, rgba(0, 0, 0, 0.5));
  color: var(--semantic-color-foreground-primary, #141414);
  opacity: var(--semantic-motion-opacity-content-default, 1);
  z-index: var(--core-layer-max, 9999);
}

.page-transition--loading {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
