/* @generated:start tokens */
.progress {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-progress-color-text-default: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-progress-spacing-gap: var(--fsds-core-spacing-size-02, 2px);
  --fsds-progress-motion-duration-indeterminate: var(--fsds-core-motion-duration-extra-long1, 1500ms);
  --fsds-progress-color-track-background: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-progress-color-fill-info: var(--fsds-semantic-color-status-info, #0a65fe);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
