/* @generated:start styles */
.progress {
  color: var(--fsds-semantic-color-foreground-secondary, #555555);
  gap: var(--fsds-core-spacing-size-02, 2px);
  transition-duration: var(--fsds-core-motion-duration-extra-long1, 1500ms);
}

.progress--linear {}

.progress--circular {}

.progress--sm {}

.progress--md {}

.progress--lg {}

.progress--info {}

.progress--success {}

.progress--warning {}

.progress--danger {}

.progress__track {
  background-color: var(--fsds-semantic-color-background-secondary, #efefef);
}

.progress__fill {
  background-color: var(--fsds-semantic-color-status-info, #0a65fe);
}

.progress__value {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
