@import "./Postcard.tokens.css";

/* @generated:start styles */
.postcard {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-postcard-size-gap-default);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-postcard-color-background-default);
  padding: var(--fsds-postcard-size-padding-default);
  border-radius: var(--fsds-postcard-size-radius-default);
  line-height: var(--fsds-postcard-typography-content-lineHeight);
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: var(--fsds-postcard-size-border-default);
  box-sizing: border-box;

  &:hover {
    background-color: var(--fsds-postcard-color-background-hover);
    border-color: var(--fsds-postcard-color-border-hover);
  }
}

.postcard__content {
  line-height: var(--fsds-postcard-typography-content-lineHeight);
  display: flex;
  flex-direction: column;
  gap: var(--fsds-postcard-size-gap-default);
  color: var(--fsds-postcard-color-foreground-primary);
  font-size: var(--fsds-postcard-typography-content-fontSize);
}

.postcard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--fsds-postcard-size-gap-default);
}

.postcard__userInfo {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.postcard__displayName {
  font-weight: var(--fsds-postcard-typography-displayName-fontWeight);
  font-size: var(--fsds-postcard-typography-displayName-fontSize);
  color: var(--fsds-postcard-color-foreground-primary);
}

.postcard__handle {
  font-size: var(--fsds-postcard-typography-handle-fontSize);
}

.postcard__timestamp {
  font-size: var(--fsds-postcard-typography-footer-fontSize);
  flex-shrink: 0;
}

.postcard__footer {
  display: flex;
  align-items: center;
  gap: var(--fsds-postcard-size-gap-default);
  padding-top: var(--fsds-postcard-size-padding-default);
  border-top-color: var(--fsds-postcard-color-border-default);
  border-top-style: solid;
  border-top-width: var(--fsds-postcard-size-border-default);
  font-size: var(--fsds-postcard-typography-footer-fontSize);
}

.postcard__stats {
  display: flex;
  align-items: center;
  gap: var(--fsds-postcard-size-gap-default);
}

.postcard__stat {
  display: inline-flex;
  align-items: center;
  font-size: var(--fsds-postcard-typography-footer-fontSize);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
