@import "./Postcard.tokens.css";

/* @generated:start styles */
.postcard {
  background-color: var(--fsds-postcard-color-background-default);
  border-color: var(--fsds-postcard-color-border-accent);
  color: var(--fsds-postcard-color-foreground-secondary);
  padding: var(--fsds-postcard-size-padding-default);
  border-radius: var(--fsds-postcard-size-radius-full);
  gap: var(--fsds-postcard-size-gap-small);
  line-height: var(--fsds-postcard-typography-content-lineHeight);

  &:hover {
    background-color: var(--fsds-postcard-color-background-hover);
    border-color: var(--fsds-postcard-color-border-hover);
  }
}

.postcard__content {
  line-height: var(--fsds-postcard-typography-content-lineHeight);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
