/* @generated:start tokens */
.input {
  --fsds-input-color-bg-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-input-color-text-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-input-color-border-default: var(--fsds-semantic-color-border-default, #aeaeae);
  --fsds-input-size-height-default: var(--fsds-semantic-control-size-lg-height, 48px);
  --fsds-input-size-radius-default: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-input-space-inline-default: var(--fsds-core-spacing-size-05, 12px);
  --fsds-input-color-focus-default: var(--fsds-semantic-color-border-focus, #d9292b);
  --fsds-input-color-invalid-default: var(--fsds-semantic-color-border-danger, #ae0001);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
