/* @generated:start styles */
.switch {
  background-color: var(--fsds-semantic-color-background-primary, #ffffff);
  width: var(--fsds-core-spacing-size-09, 48px);
  height: var(--fsds-core-spacing-size-07, 24px);
  border-radius: var(--fsds-core-shape-radius-full, 9999px);
  transition-duration: var(--fsds-semantic-motion-interaction-press-duration, 100ms);
}

.switch--sm {}

.switch--md {
  width: var(--fsds-core-spacing-size-09, 48px);
  height: var(--fsds-core-spacing-size-07, 24px);
  border-radius: var(--fsds-core-shape-radius-full, 9999px);
}

.switch--lg {}

.switch:hover {}

.switch:focus-visible {}

.switch:disabled {
  background-color: var(--fsds-semantic-color-background-disabled, #cecece);
}

.switch:checked {
  background-color: var(--fsds-semantic-color-foreground-on-brand, #ffffff);
}

.switch__track {}

.switch__thumb {}

.switch__input {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
