@import "./Switch.tokens.css";

/* @generated:start styles */
.switch {
  background-color: var(--fsds-switch-color-thumb-background-default);
  width: var(--fsds-switch-size-md-track-width);
  height: var(--fsds-switch-size-md-track-height);
  border-radius: var(--fsds-switch-size-md-track-radius);
  transition-duration: var(--fsds-switch-motion-duration);

  &--md {
    width: var(--fsds-switch-size-md-track-width);
    height: var(--fsds-switch-size-md-track-height);
    border-radius: var(--fsds-switch-size-md-track-radius);
  }

  &:disabled {
    background-color: var(--fsds-switch-color-track-background-disabled);
  }

  &:checked {
    background-color: var(--fsds-switch-color-thumb-background-checked);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
