@import "./Truncate.tokens.css";

/* @generated:start styles */
.truncate {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  display: block;
}

.truncate__content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--fsds-truncate-content-lines, 3);
  line-clamp: var(--fsds-truncate-content-lines, 3);
  overflow: hidden;
}

.truncate__toggle {
  display: inline-flex;
  align-items: center;
  color: var(--fsds-truncate-color-foreground-link);
  font-weight: var(--fsds-truncate-typography-fontWeight);
  margin-top: var(--fsds-truncate-spacing-toggle);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
