@import "./Spinner.tokens.css";

/* @generated:start styles */
.spinner {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-spinner-dots-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  transition-duration: var(--fsds-spinner-anim-duration);
}

.spinner__visual {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border-style: solid;
  border-width: var(--fsds-spinner-thickness-regular);
  border-color: var(--fsds-spinner-color-track);
  border-top-color: var(--fsds-spinner-color-accent);
  animation: spin var(--fsds-spinner-anim-duration, 800ms) linear infinite;
}

.spinner--hairline .spinner__visual {
  border-width: var(--fsds-spinner-thickness-hairline);
}

.spinner--regular .spinner__visual {
  border-width: var(--fsds-spinner-thickness-regular);
}

.spinner--bold .spinner__visual {
  border-width: var(--fsds-spinner-thickness-bold);
}
/* @generated:end */

/* @generated:start keyframes */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
