/* @generated:start tokens */
.spinner {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-spinner-size-xs: 12px;
  --fsds-spinner-size-sm: 16px;
  --fsds-spinner-size-md: 20px;
  --fsds-spinner-size-lg: 28px;
  --fsds-spinner-thickness-hairline: 2px;
  --fsds-spinner-thickness-regular: 3px;
  --fsds-spinner-thickness-bold: 4px;
  --fsds-spinner-color-accent: var(--fsds-semantic-color-background-accent, #d9292b);
  --fsds-spinner-color-track: var(--fsds-semantic-color-border-subtle, #cecece);
  --fsds-spinner-dots-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-spinner-anim-duration: 800ms;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
