/* @generated:start tokens */
.skeleton {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: 100%;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 1em;
  --fsds-box-model-max-height: none;
  --fsds-skeleton-color-base: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-skeleton-color-highlight: var(--fsds-semantic-color-background-highlight, #f7c1c2);
  --fsds-skeleton-color-static: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-skeleton-radius-sm: var(--fsds-core-shape-radius-small, 4px);
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-03, 8px);
  --fsds-skeleton-radius-lg: var(--fsds-core-shape-radius-large, 16px);
  --fsds-skeleton-radius-full: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-skeleton-gap-compact: var(--fsds-core-spacing-size-03, 4px);
  --fsds-skeleton-gap-md: var(--fsds-core-spacing-size-05, 12px);
  --fsds-skeleton-gap-spacious: var(--fsds-core-spacing-size-07, 24px);
  --fsds-skeleton-anim-duration: var(--fsds-core-motion-duration-long, 400ms);
  --fsds-skeleton-anim-easing: var(--fsds-core-motion-easing-standard, cubic-bezier(0.4, 0, 0.2, 1));
  --fsds-skeleton-shape-height-text: var(--fsds-core-typography-ramp-4, 1rem);
}

.skeleton--block {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-03, 8px);
}

.skeleton--text {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-small, 4px);
  --fsds-skeleton-shape-height-text: var(--fsds-core-typography-ramp-4, 1rem);
}

.skeleton--avatar {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-full, 9999px);
}

.skeleton--media {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-03, 8px);
}

.skeleton--dataviz {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-03, 8px);
}

.skeleton--actions {
  --fsds-skeleton-radius-md: var(--fsds-core-shape-radius-03, 8px);
}

.skeleton--wipe {
  --fsds-skeleton-color-base: var(--fsds-semantic-color-background-tertiary, #e5e5e5);
}

.skeleton--compact {
  --fsds-skeleton-gap-md: var(--fsds-core-spacing-size-03, 4px);
}

.skeleton--regular {
  --fsds-skeleton-gap-md: var(--fsds-core-spacing-size-05, 12px);
}

.skeleton--spacious {
  --fsds-skeleton-gap-md: var(--fsds-core-spacing-size-07, 24px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
