@import "./Table.tokens.css";

/* @generated:start styles */
.table {
  color: var(--fsds-table-color-text);
  border-color: var(--fsds-table-color-border);
  border-width: var(--fsds-table-border-width);
  border-radius: var(--fsds-table-size-radius);
  font-size: var(--fsds-table-text-size);
  line-height: var(--fsds-table-text-lineHeight);
  display: block;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: var(--fsds-table-color-background-hover);
  }

  &[aria-selected="true"] {
    background-color: var(--fsds-table-color-background-selected);
  }
}

.table__body {
  display: table-row-group;
}

.table__footer {
  background-color: var(--fsds-table-color-background-footer);
  font-weight: var(--fsds-table-text-weightFooter);
  display: flex;
  align-items: center;
  padding-left: var(--fsds-table-spacing-cellX);
  padding-right: var(--fsds-table-spacing-cellX);
  padding-top: var(--fsds-table-spacing-cellY);
  padding-bottom: var(--fsds-table-spacing-cellY);
  border-top-width: var(--fsds-table-border-width);
  border-top-color: var(--fsds-table-color-border);
  border-top-style: solid;
}

.table__header {
  background-color: var(--fsds-table-color-background-footer);
  font-weight: var(--fsds-table-text-weightHead);
  color: var(--fsds-table-color-text);
  display: block;
  padding-left: var(--fsds-table-spacing-cellX);
  padding-right: var(--fsds-table-spacing-cellX);
  padding-top: var(--fsds-table-spacing-cellY);
  padding-bottom: var(--fsds-table-spacing-cellY);
  border-bottom-width: var(--fsds-table-border-width);
  border-bottom-color: var(--fsds-table-color-border);
  border-bottom-style: solid;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
