@import "./Table.tokens.css";

/* @generated:start styles */
.table {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: 100%;
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-table-color-text, #141414);
  font-size: var(--fsds-table-text-size, 14px);
  line-height: var(--fsds-table-text-lineHeight, 1.5);
  overflow-x: auto;

  &:hover {
    background-color: var(--fsds-table-color-background-hover, #d0d0d0);
  }

  &[aria-selected="true"] {
    background-color: var(--fsds-table-color-background-selected, #d92d2e);
  }
}

.table__container {
  border-collapse: collapse;
  border-color: var(--fsds-table-color-border, #b8b8b8);
  border-width: var(--fsds-table-border-width, 1px);
  border-radius: var(--fsds-table-size-radius, 6px);
  width: 100%;
}

.table__caption {
  font-size: var(--fsds-table-text-sizeCaption, 12px);
  text-align: start;
  padding-bottom: var(--fsds-table-spacing-caption, 8px);
}

.table__head {
  background-color: var(--fsds-table-color-background-footer, #d0d0d0);
}

.table__footer {
  background-color: var(--fsds-table-color-background-footer, #d0d0d0);
  font-weight: var(--fsds-table-text-weightFooter, 500);
}

.table__headerCell {
  font-weight: var(--fsds-table-text-weightHead, 700);
  color: var(--fsds-table-color-text, #141414);
  padding-left: var(--fsds-table-spacing-cellX, 4px);
  padding-right: var(--fsds-table-spacing-cellX, 4px);
  padding-top: var(--fsds-table-spacing-cellY, 2px);
  padding-bottom: var(--fsds-table-spacing-cellY, 2px);
  border-bottom-width: var(--fsds-table-border-width, 1px);
  border-bottom-color: var(--fsds-table-color-border, #b8b8b8);
  border-bottom-style: solid;
  text-align: start;
}

.table__cell {
  padding-left: var(--fsds-table-spacing-cellX, 4px);
  padding-right: var(--fsds-table-spacing-cellX, 4px);
  padding-top: var(--fsds-table-spacing-cellY, 2px);
  padding-bottom: var(--fsds-table-spacing-cellY, 2px);
  border-bottom-width: var(--fsds-table-border-width, 1px);
  border-bottom-color: var(--fsds-table-color-border, #b8b8b8);
  border-bottom-style: solid;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
