@import "./Progress.tokens.css";

/* @generated:start styles */
.progress {
  color: var(--fsds-progress-color-text-default);
  gap: var(--fsds-progress-spacing-gap);
  transition-duration: var(--fsds-progress-motion-duration-indeterminate);
}

.progress__track {
  background-color: var(--fsds-progress-color-track-background);
}

.progress__fill {
  background-color: var(--fsds-progress-color-fill-info);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
