@import "./Toast.tokens.css";

/* @generated:start styles */
.toast {
  border-radius: var(--fsds-toast-surface-radius);
  box-shadow: var(--fsds-toast-surface-shadow);
  padding: var(--fsds-toast-spacing-padding);
  gap: var(--fsds-toast-spacing-stackGap);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
