/* @generated:start styles */
.otp {
  background-color: var(--fsds-semantic-color-background-secondary, #efefef);
  color: var(--fsds-semantic-color-foreground-secondary, #555555);
  border-color: var(--fsds-semantic-color-border-light, #fceaea);
  padding: var(--fsds-core-spacing-size-07, 24px);
  border-radius: var(--fsds-core-shape-radius-medium, 8px);
}

.otp--numeric {}

.otp--alphanumeric {}

.otp:focus-visible {
  border-color: var(--fsds-semantic-color-border-accent, #d9292b);
}

.otp:disabled {}

.otp__group {}

.otp__field {}

.otp__separator {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
