@import "./Badge.tokens.css";

/* @generated:start styles */
.badge {
  background-color: var(--fsds-badge-color-background-danger);
  color: var(--fsds-badge-color-foreground-primary);
  border-color: var(--fsds-badge-color-border-default);
  gap: var(--fsds-badge-spacing-gap);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
