@import "./ShowMore.tokens.css";

/* @generated:start styles */
.show-more {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-show-more-color-background-default);
  color: var(--fsds-show-more-color-foreground-secondary);
  padding: var(--fsds-show-more-size-padding-default);
  border-radius: var(--fsds-show-more-size-radius-default);
}

.show-more__content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--fsds-show-more-content-max-lines, 3);
  line-clamp: var(--fsds-show-more-content-max-lines, 3);
}

.show-more__trigger {
  display: inline-flex;
  align-items: center;
  color: var(--fsds-show-more-color-foreground-primary);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
