@import "./Command.tokens.css";

/* @generated:start styles */
.command {
  background-color: var(--fsds-command-color-background);
  border-color: var(--fsds-command-color-borderLight);
  color: var(--fsds-command-color-textMuted);
  border-width: var(--fsds-command-border-width);
  border-radius: var(--fsds-command-border-radius);
  padding: var(--fsds-command-spacing-dialogPadding);
  font-size: var(--fsds-command-text-sizeSmall);
  box-shadow: var(--fsds-command-shadow);
  opacity: var(--fsds-command-opacity-disabled);

  &:hover {
    background-color: var(--fsds-command-color-backgroundHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
