/* @generated:start styles */
.links {
  color: var(--fsds-semantic-color-foreground-primary, #141414);
  text-decoration-color: var(--fsds-semantic-color-border-light, #fceaea);
  gap: var(--fsds-core-spacing-size-02, 2px);
  transition-duration: var(--fsds-core-motion-duration-short, 150ms);
}

.links--small {}

.links--medium {}

.links--large {}

.links:hover {
  color: var(--fsds-semantic-interaction-text-hover, #555555);
}

.links:focus-visible {}

.links--visited {
  color: var(--fsds-semantic-color-foreground-secondary, #555555);
}

.links:disabled {
  color: var(--fsds-semantic-color-foreground-disabled, #aeaeae);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
