@import "./Links.tokens.css";

/* @generated:start styles */
.links {
  color: var(--fsds-links-color-foreground-default);
  text-decoration-color: var(--fsds-links-color-underline-default);
  gap: var(--fsds-links-spacing-gap-default);
  transition-duration: var(--fsds-links-motion-duration-fast);

  &:hover {
    color: var(--fsds-links-color-foreground-hover);
  }

  &:disabled {
    color: var(--fsds-links-color-foreground-disabled);
  }
}

.links__visited {
  color: var(--fsds-links-color-foreground-visited);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
