@import "./Input.tokens.css";

/* @generated:start styles */
.input {
  background-color: var(--fsds-input-color-bg-default);
  color: var(--fsds-input-color-text-default);
  border-color: var(--fsds-input-color-border-default);
  min-height: var(--fsds-input-size-height-default);
  border-radius: var(--fsds-input-size-radius-default);
  padding: var(--fsds-input-space-inline-default);

  &:focus-visible {
    border-color: var(--fsds-input-color-focus-default);
  }
}

.input__invalid {
  border-color: var(--fsds-input-color-invalid-default);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
