@import "./Progress.tokens.css";

/* @generated:start styles */
.progress {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-progress-spacing-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-progress-color-text-default);
  transition-duration: var(--fsds-progress-motion-duration-indeterminate);
}

.progress__track {
  background-color: var(--fsds-progress-color-track-background);
}

.progress__fill {
  background-color: var(--fsds-progress-color-fill-info);
}

.progress__value {
  display: inline-block;
  color: var(--fsds-progress-color-text-default);
  font-size: 0.875em;
  margin-left: var(--fsds-progress-spacing-gap);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
