@layer components {
/* @generated:start tokens */
.progress {
  --fsds-progress-color-text-default: var(--fsds-semantic-color-foreground-secondary, #474647);
  --fsds-progress-spacing-gap: var(--fsds-core-spacing-size-02, 2px);
  --fsds-progress-motion-duration-indeterminate: var(--fsds-core-motion-duration-extra-long1, 1500ms);
  --fsds-progress-color-track-background: var(--fsds-semantic-color-background-secondary, #f7f7f7);
  --fsds-progress-color-fill-info: var(--fsds-semantic-color-status-info, #0566fe);
  --fsds-progress-color-fill-success: var(--fsds-semantic-color-status-success, #497f21);
  --fsds-progress-color-fill-warning: var(--fsds-semantic-color-status-warning, #ae5d00);
  --fsds-progress-color-fill-danger: var(--fsds-semantic-color-status-danger, #d92d2e);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
