/* @generated:start styles */
.button {
  background-color: var(--fsds-semantic-color-action-background-primary-default, #d9292b);
  color: var(--fsds-semantic-color-foreground-inverse, #fafafa);
  border-color: var(--fsds-semantic-color-border-light, #fceaea);
  gap: var(--fsds-core-spacing-size-04, 8px);
  border-radius: var(--fsds-core-shape-radius-full, 9999px);
  border-width: var(--fsds-core-shape-border-width-hairline, 1px);
  font-weight: var(--fsds-semantic-typography-font-weight-medium, 500);
  transition-duration: var(--fsds-core-motion-duration-short, 150ms);
  transition-timing-function: var(--fsds-core-motion-easing-standard, cubic-bezier(0.4, 0, 0.2, 1));
}

.button--small {}

.button--medium {}

.button--large {}

.button--primary {}

.button--secondary {}

.button--tertiary {}

.button--ghost {}

.button--destructive {}

.button--outline {}

.button:hover {
  background-color: var(--fsds-semantic-interaction-background-hover, #efefef);
  border-color: var(--fsds-semantic-interaction-border-hover, #8f8f8f);
}

.button:focus-visible {
  border-color: var(--fsds-semantic-color-border-accent, #d9292b);
}

.button:active {
  background-color: var(--fsds-semantic-interaction-background-active, #cecece);
}

.button:disabled {
  background-color: var(--fsds-semantic-color-action-background-primary-disabled, #cecece);
  color: var(--fsds-semantic-color-foreground-disabled, #aeaeae);
}

.button__spinner {}

.button__loadingText {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
