@import "./Alert.tokens.css";

/* @generated:start styles */
.alert {
  background-color: var(--fsds-alert-color-background-danger);
  color: var(--fsds-alert-color-foreground-danger);
  border-color: var(--fsds-alert-color-border-danger);
  padding: var(--fsds-alert-size-padding);
  border-radius: var(--fsds-alert-size-radius);
  gap: var(--fsds-alert-spacing-gap);
  font-size: var(--fsds-alert-text-size);
  font-weight: var(--fsds-alert-text-weight);
  /* --fsds-core-spacing-size-06: 16px; */
}

.alert__title {
  font-weight: var(--fsds-alert-typography-title-fontWeight);
  font-size: var(--fsds-alert-typography-title-fontSize);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
