@layer components {
/* @generated:start tokens */
.markdown {
  --fsds-markdown-color-foreground-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-markdown-typography-font-size-default: var(--fsds-core-typography-ramp-3, 0.875rem);
  --fsds-markdown-typography-line-height-default: var(--fsds-semantic-typography-line-height-body, 1.5);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
