@import "./Divider.tokens.css";

/* @generated:start styles */
.divider {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: 100%;
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  display: block;
  border-top-color: var(--fsds-divider-color-default);
  border-top-style: solid;
  border-top-width: var(--fsds-divider-size-thickness);
  margin-top: var(--fsds-divider-spacing-margin);
  margin-bottom: var(--fsds-divider-spacing-margin);
}

.divider--vertical {
  width: 1px;
  height: auto;
  border-top: none;
  border-left-color: var(--fsds-divider-color-default);
  border-left-style: solid;
  border-left-width: var(--fsds-divider-size-thickness);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--fsds-divider-spacing-margin);
  margin-right: var(--fsds-divider-spacing-margin);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
