@import "./Divider.tokens.css";

/* @generated:start styles */
.divider {
  display: block;
  width: 100%;
  border-top-color: var(--fsds-divider-color-default);
  border-top-style: solid;
  border-top-width: var(--fsds-divider-size-thickness);
  margin-top: var(--fsds-divider-spacing-margin);
  margin-bottom: var(--fsds-divider-spacing-margin);
}

.divider--vertical {
  width: 1px;
  height: auto;
  border-top: none;
  border-left-color: var(--fsds-divider-color-default);
  border-left-style: solid;
  border-left-width: var(--fsds-divider-size-thickness);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--fsds-divider-spacing-margin);
  margin-right: var(--fsds-divider-spacing-margin);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
