/* @generated:start tokens */
.toggle-switch {
  --fsds-toggle-switch-color-background-default: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-toggle-switch-color-foreground-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-toggle-switch-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-toggle-switch-border-radius-default: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-toggle-switch-motion-duration-fast: var(--fsds-core-motion-duration-short, 150ms);
  --fsds-toggle-switch-color-background-hover: var(--fsds-semantic-interaction-background-hover, #efefef);
  --fsds-toggle-switch-color-background-checked: var(--fsds-semantic-color-action-background-primary-default, #d9292b);
  --fsds-toggle-switch-color-background-disabled: var(--fsds-semantic-color-background-disabled, #cecece);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
