@import "./ToggleSwitch.tokens.css";

/* @generated:start styles */
.toggle-switch {
  display: inline-flex;
  align-items: center;
  background-color: var(--fsds-toggle-switch-color-background-default);
  color: var(--fsds-toggle-switch-color-foreground-default);
  border-color: var(--fsds-toggle-switch-color-border-default);
  border-radius: var(--fsds-toggle-switch-border-radius-default);
  transition-duration: var(--fsds-toggle-switch-motion-duration-fast);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: var(--fsds-toggle-switch-color-background-hover);
  }

  &[aria-checked="true"] {
    background-color: var(--fsds-toggle-switch-color-background-checked);
  }

  &:disabled {
    background-color: var(--fsds-toggle-switch-color-background-disabled);
    cursor: not-allowed;
  }

  &:focus-visible {
    outline-width: var(--fsds-toggle-switch-focus-ring-width);
    outline-color: var(--fsds-toggle-switch-focus-ring-color);
    outline-style: var(--fsds-toggle-switch-focus-ring-style);
    outline-offset: var(--fsds-toggle-switch-focus-ring-offset);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
