@import "./Popover.tokens.css";

/* @generated:start styles */
.popover {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  position: relative;
  display: inline-block;
}

.popover [data-popover-trigger] {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

[data-popover-content] {
  background-color: var(--fsds-popover-color-background-content, #d0d0d0);
  border-color: var(--fsds-popover-color-border-accent, #d92d2e);
  border-radius: var(--fsds-popover-size-radius-default, 6px);
  padding: var(--fsds-popover-size-padding-default, 16px);
  gap: var(--fsds-popover-size-gap-default, 8px);
  box-shadow: var(--fsds-popover-elevation-default, 0 8px 10px rgba(0,0,0,0.04), 0 20px 25px rgba(0,0,0,0.1));
  z-index: var(--fsds-popover-layer-content, 1000);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
