@import "./Image.tokens.css";

/* @generated:start styles */
.image {
  display: block;
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: 100%;
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-image-color-background-default);
  color: var(--fsds-image-color-foreground-primary);
}

.image--size-xs {
  width: var(--fsds-image-size-xs);
  height: var(--fsds-image-size-xs);
}

.image--size-sm {
  width: var(--fsds-image-size-sm);
  height: var(--fsds-image-size-sm);
}

.image--size-md {
  width: var(--fsds-image-size-md);
  height: var(--fsds-image-size-md);
}

.image--size-lg {
  width: var(--fsds-image-size-lg);
  height: var(--fsds-image-size-lg);
}

.image--size-xl {
  width: var(--fsds-image-size-xl);
  height: var(--fsds-image-size-xl);
}

.image--size-full {
  width: 100%;
  height: auto;
}

.image--radius-none {
  border-radius: var(--fsds-image-radius-none);
}

.image--radius-sm {
  border-radius: var(--fsds-image-radius-sm);
}

.image--radius-md {
  border-radius: var(--fsds-image-radius-md);
}

.image--radius-lg {
  border-radius: var(--fsds-image-radius-lg);
}

.image--radius-full {
  border-radius: var(--fsds-image-radius-full);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
