@import "./Stat.tokens.css";

/* @generated:start styles */
.stat {
  display: block;
  color: var(--fsds-stat-color-foreground-value);
  font-size: var(--fsds-stat-size-value-md);
  font-weight: var(--fsds-stat-typography-weight-value);
  line-height: 1.1;
  letter-spacing: -0.02em;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
