@import "./Image.tokens.css";

/* @generated:start styles */
.image {
  background-color: var(--fsds-image-color-background-default);
  color: var(--fsds-image-color-foreground-primary);
}

.image__error {
  background-color: var(--fsds-image-color-background-error);
  color: var(--fsds-image-color-foreground-error);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
