@import "./Command.tokens.css";

/* @generated:start styles */
.command {
  background-color: var(--fsds-command-color-background);
  border-color: var(--fsds-command-color-borderLight);
  color: var(--fsds-command-color-textMuted);
  border-width: var(--fsds-command-border-width);
  border-radius: var(--fsds-command-border-radius);
  padding: var(--fsds-command-spacing-dialogPadding);
  font-size: var(--fsds-command-text-sizeSmall);
  box-shadow: var(--fsds-command-shadow);
  opacity: var(--fsds-command-opacity-disabled);
  /* --fsds-semantic-overlay-scrim-dialog: rgba(0,0,0,0.60); */
  /* --fsds-command-size-maxWidth: ; */
  /* --fsds-command-size-maxHeight: ; */
  /* --fsds-core-spacing-size-04: 8px; */

  &:hover {
    background-color: var(--fsds-command-color-backgroundHover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
