/* @generated:start tokens */
.switch {
  --fsds-switch-motion-duration: var(--fsds-semantic-motion-interaction-press-duration, 100ms);
  --fsds-switch-motion-easing: var(--fsds-semantic-motion-interaction-press-easing, ease-out);
  --fsds-switch-color-track-background-default: var(--fsds-semantic-color-background-tertiary, #cecece);
  --fsds-switch-color-track-background-checked: var(--fsds-semantic-color-foreground-accent, #d9292b);
  --fsds-switch-color-track-background-disabled: var(--fsds-semantic-color-background-disabled, #efefef);
  --fsds-switch-color-track-border-default: var(--fsds-semantic-color-border-subtle, #aeaeae);
  --fsds-switch-color-thumb-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-switch-color-thumb-background-checked: var(--fsds-semantic-color-foreground-on-brand, #ffffff);
  --fsds-switch-color-thumb-shadow-default: var(--fsds-semantic-elevation-surface-raised, 0 1px 2px rgba(0, 0, 0, 0.1));
  --fsds-switch-color-input-outline-focus: var(--fsds-semantic-color-border-focus, #d9292b);
  --fsds-switch-size-md-track-width: var(--fsds-core-spacing-size-09, 48px);
  --fsds-switch-size-md-track-height: var(--fsds-core-spacing-size-07, 24px);
  --fsds-switch-size-md-track-radius: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-switch-size-md-track-padding: var(--fsds-core-spacing-size-01, 2px);
  --fsds-switch-size-md-thumb-size: var(--fsds-core-spacing-size-06, 20px);
  --fsds-switch-size-md-thumb-height: var(--fsds-core-spacing-size-06, 20px);
  --fsds-switch-size-sm-track-width: var(--fsds-core-spacing-size-08, 32px);
  --fsds-switch-size-sm-track-height: var(--fsds-core-spacing-size-06, 16px);
  --fsds-switch-size-sm-track-radius: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-switch-size-sm-track-padding: var(--fsds-core-spacing-size-01, 2px);
  --fsds-switch-size-sm-thumb-size: var(--fsds-core-spacing-size-05, 12px);
  --fsds-switch-size-sm-thumb-height: var(--fsds-core-spacing-size-05, 12px);
  --fsds-switch-size-lg-track-width: var(--fsds-core-spacing-size-10, 64px);
  --fsds-switch-size-lg-track-height: var(--fsds-core-spacing-size-08, 32px);
  --fsds-switch-size-lg-track-radius: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-switch-size-lg-track-padding: var(--fsds-core-spacing-size-01, 2px);
  --fsds-switch-size-lg-thumb-size: var(--fsds-core-spacing-size-07, 24px);
  --fsds-switch-size-lg-thumb-height: var(--fsds-core-spacing-size-07, 24px);
  --fsds-switch-size-sm-thumb-translate-off: 0;
  --fsds-switch-size-sm-thumb-translate-on: 16px;
  --fsds-switch-size-md-thumb-translate-off: 0;
  --fsds-switch-size-md-thumb-translate-on: 24px;
  --fsds-switch-size-lg-thumb-translate-off: 0;
  --fsds-switch-size-lg-thumb-translate-on: 36px;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
