@import "./CodeSnippet.tokens.css";

/* @generated:start styles */
.code-snippet {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  background-color: var(--fsds-code-snippet-color-background-default, #efefef);
  border-color: var(--fsds-code-snippet-color-border-default, #cecece);
  border-style: solid;
  border-width: var(--fsds-code-snippet-size-border-default, 1px);
  border-radius: var(--fsds-code-snippet-size-radius-default, 8px);
  color: var(--fsds-code-snippet-color-foreground-primary, #141414);
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-size: var(--fsds-code-snippet-size-fontSize-default, 0.875rem);
  line-height: var(--fsds-code-snippet-typography-lineHeight-default, 1.5);
  margin: 0;
  padding-block: var(--fsds-code-snippet-size-padding-block, 1px);
  padding-inline: var(--fsds-code-snippet-size-padding-inline, 2px);
  white-space: nowrap;
}

.code-snippet--kbd {
  box-shadow: var(--fsds-code-snippet-elevation-kbd, 0 1px 1px rgba(0,0,0,0.14));
  font-weight: var(--fsds-semantic-typography-font-weight-medium, 500);
}

.code-snippet--samp {
  background-color: transparent;
  border-color: transparent;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
