/* @generated:start tokens */
.text {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: var(--fsds-semantic-display-size-gap, 4px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-text-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-text-typography-fontWeight-light: var(--fsds-semantic-typography-font-weight-light, 300);
  --fsds-text-typography-fontWeight-regular: var(--fsds-semantic-typography-font-weight-regular, 400);
  --fsds-text-typography-fontWeight-medium: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
  --fsds-text-typography-lineHeight-heading: var(--fsds-semantic-typography-line-height-heading, 1);
  --fsds-text-typography-lineHeight-body: var(--fsds-semantic-typography-line-height-body, 1.5);
  --fsds-text-typography-lineHeight-tight: var(--fsds-semantic-typography-line-height-tight, 1.2);
  --fsds-text-typography-letterSpacing-wide: var(--fsds-semantic-typography-letter-spacing-wide, 0.018rem);
  --fsds-text-typography-letterSpacing-tight: var(--fsds-semantic-typography-letter-spacing-tight, -0.018rem);
  --fsds-text-size-xs: var(--fsds-core-typography-ramp-2, 0.75rem);
  --fsds-text-size-sm: var(--fsds-core-typography-ramp-3, 0.875rem);
  --fsds-text-size-md: var(--fsds-core-typography-ramp-4, 1rem);
  --fsds-text-size-lg: var(--fsds-core-typography-ramp-5, 1.125rem);
  --fsds-text-size-xl: var(--fsds-core-typography-ramp-6, 1.25rem);
  --fsds-text-size-2xl: var(--fsds-core-typography-ramp-7, 1.5rem);
  --fsds-text-size-3xl: var(--fsds-core-typography-ramp-8, 2rem);
}

.text--display {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-11, 3.75rem);
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
}

.text--headline {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-8, 2rem);
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
}

.text--title {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-6, 1.25rem);
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
}

.text--body {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-4, 1rem);
  --fsds-text-typography-fontWeight-regular: var(--fsds-semantic-typography-font-weight-regular, 400);
}

.text--caption {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-2, 0.75rem);
  --fsds-text-typography-fontWeight-regular: var(--fsds-semantic-typography-font-weight-regular, 400);
}

.text--overline {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-2, 0.75rem);
  --fsds-text-typography-fontWeight-medium: var(--fsds-semantic-typography-font-weight-medium, 500);
}

.text--code {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-3, 0.875rem);
}

.text--xs {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-2, 0.75rem);
}

.text--sm {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-3, 0.875rem);
}

.text--md {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-4, 1rem);
}

.text--lg {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-5, 1.125rem);
}

.text--xl {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-6, 1.25rem);
}

.text--2xl {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-7, 1.5rem);
}

.text--3xl {
  --fsds-text-size-md: var(--fsds-core-typography-ramp-8, 2rem);
}

.text--light {
  --fsds-text-typography-fontWeight-light: var(--fsds-semantic-typography-font-weight-light, 300);
}

.text--normal {
  --fsds-text-typography-fontWeight-regular: var(--fsds-semantic-typography-font-weight-regular, 400);
}

.text--medium {
  --fsds-text-typography-fontWeight-medium: var(--fsds-semantic-typography-font-weight-medium, 500);
}

.text--semibold {
  --fsds-text-typography-fontWeight-medium: var(--fsds-semantic-typography-font-weight-semibold, 600);
}

.text--bold {
  --fsds-text-typography-fontWeight-bold: var(--fsds-semantic-typography-font-weight-bold, 700);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
