@import "./Text.tokens.css";

/* @generated:start styles */
.text {
  color: var(--fsds-text-color-foreground-secondary);
  line-height: var(--fsds-text-typography-lineHeight-body);
}

.text__error {
  color: var(--fsds-text-color-foreground-danger);
}

.text__success {
  color: var(--fsds-text-color-foreground-success);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
