@import "./Field.tokens.css";

/* @generated:start styles */
.field {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-field-gap-y, 8px);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  display: flex;
  flex-direction: column;
  border-radius: var(--fsds-field-radius, 6px);
}

.field__label {
  display: inline-block;
  font-size: var(--fsds-field-label-font-size, 14px);
  font-weight: 500;
  color: var(--fsds-field-label-color, #474647);
}

.field__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--fsds-field-gap-meta, 4px);
}

.field__control {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  border-radius: var(--fsds-field-radius, 6px);
  border-color: var(--fsds-field-color-border, #d0d0d0);
  background-color: var(--fsds-field-color-bg, #ffffff);
  padding: var(--fsds-field-pad-x, 12px);
}

.field__help {
  display: block;
  font-size: 0.875em;
  color: var(--fsds-field-color-fg, #141414);
}

.field__error {
  display: block;
  font-size: 0.875em;
  color: var(--fsds-field-color-invalid-text, #d92d2e);
}

.field__meta {
  display: flex;
  flex-direction: column;
  gap: var(--fsds-field-gap-meta, 4px);
}

.field__validatingIndicator {
  display: inline-flex;
  width: 1em;
  height: 1em;
  color: var(--fsds-field-color-fg, #141414);
}

.field__control:focus-within:not([aria-disabled="true"]) {
  border-color: var(--fsds-field-color-focus-border, #0566fe);
  outline-width: var(--fsds-field-focus-ring-width, 2px);
  outline-color: var(--fsds-field-focus-ring-color, #0566fe);
  outline-style: var(--fsds-field-focus-ring-style, solid);
  outline-offset: var(--fsds-field-focus-ring-offset, 2px);
}

.field--invalid .field__control {
  border-color: var(--fsds-field-color-invalid-border, #b31b1b);
}

.field--disabled .field__control {
  opacity: 0.5;
  cursor: not-allowed;
}

.field--valid .field__control {
  border-color: var(--fsds-field-color-valid-border, #3a6614);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
