@import "./Tooltip.tokens.css";

/* @generated:start styles */
.tooltip {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  display: inline-block;
}

.tooltip__trigger {
  display: inline-flex;
  align-items: center;
}

.tooltip__content {
  background-color: var(--fsds-tooltip-color-background-default);
  color: var(--fsds-tooltip-color-foreground-default);
  border-color: var(--fsds-tooltip-color-border-default);
  border-radius: var(--fsds-tooltip-size-radius-default);
  padding: var(--fsds-tooltip-size-padding-x);
  max-width: var(--fsds-tooltip-size-maxWidth);
  z-index: var(--fsds-tooltip-layer-content);
  font-size: var(--fsds-tooltip-typography-fontSize);
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
