@import "./Links.tokens.css";

/* @generated:start styles */
.links {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-links-spacing-gap-default);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-links-color-foreground-default);
  text-decoration-color: var(--fsds-links-color-underline-default);
  transition-duration: var(--fsds-links-motion-duration-fast);

  &:hover {
    color: var(--fsds-links-color-foreground-hover);
  }

  &:visited {
    color: var(--fsds-links-color-foreground-visited);
  }

  &:disabled {
    color: var(--fsds-links-color-foreground-disabled);
  }

  &:focus-visible {
    outline-width: var(--fsds-links-focus-ring-width);
    outline-color: var(--fsds-links-focus-ring-color);
    outline-style: var(--fsds-links-focus-ring-style);
    outline-offset: var(--fsds-links-focus-ring-offset);
    border-radius: var(--fsds-links-focus-ring-radius);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
