@layer components {
/* @generated:start tokens */
.icon {
  --fsds-icon-size-sm: var(--fsds-core-icon-size-sm, 16px);
  --fsds-icon-size-md: var(--fsds-core-icon-size-md, 20px);
  --fsds-icon-size-lg: var(--fsds-core-icon-size-lg, 24px);
  --fsds-icon-size-xl: var(--fsds-core-icon-size-xl, 32px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
