/* @generated:start styles */
.status {
  background-color: var(--semantic-color-background-primary, #ffffff);
  color: var(--semantic-color-foreground-primary, #141414);
  border-color: var(--semantic-color-border-primary, #f29495);
  border-radius: var(--core-shape-radius-full, 9999px);
  padding: var(--core-spacing-size-04, 8px);
  line-height: var(--semantic-typography-line-height-collapse, 1);
  /* --core-shape-border-width-hairline: 1px; */
}

.status--info {}

.status--success {}

.status--warning {}

.status--danger {}

.status--error {}

.status__icon {}

.status__label {}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
