/* @generated:start tokens */
.text-field {
  --fsds-text-field-spacing-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-text-field-border-width: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-text-field-border-radius: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-text-field-color-input-text: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-text-field-color-input-placeholder: var(--fsds-semantic-color-foreground-tertiary, #717171);
  --fsds-text-field-color-input-borderError: var(--fsds-semantic-color-status-danger, #d9292b);
  --fsds-text-field-color-error: var(--fsds-semantic-color-foreground-danger, #d9292b);
  --fsds-text-field-focus-ring-width: var(--fsds-semantic-focus-ring-width, 2px);
  --fsds-text-field-focus-ring-color: var(--fsds-semantic-focus-ring-color, #0a65fe);
  --fsds-text-field-focus-ring-style: var(--fsds-semantic-focus-ring-style, solid);
  --fsds-text-field-focus-ring-offset: var(--fsds-semantic-focus-ring-offset, 2px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
