/* @generated:start styles */
.profile-flag {
  background-color: var(--fsds-semantic-color-background-primary, #ffffff);
  border-color: var(--fsds-semantic-color-border-light, #fceaea);
  color: var(--fsds-semantic-color-foreground-primary, #141414);
  border-radius: var(--fsds-semantic-shape-control-radius-default, 8px);
  gap: var(--fsds-core-spacing-size-03, 4px);
  padding: var(--fsds-core-spacing-size-06, 16px);
}

.profile-flag:hover {
  border-color: var(--fsds-semantic-color-border-bold, #8f8f8f);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
