/* @generated:start tokens */
.chip {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-chip-color-background-default: var(--fsds-semantic-color-action-background-secondary-default, #fafafa);
  --fsds-chip-color-foreground-default: var(--fsds-semantic-color-action-foreground-secondary-default, #141414);
  --fsds-chip-color-border-default: var(--fsds-semantic-color-action-border-secondary-default, #aeaeae);
  --fsds-chip-size-padding-horizontal: var(--fsds-core-spacing-size-04, 8px);
  --fsds-chip-size-padding-vertical: var(--fsds-core-spacing-size-02, 2px);
  --fsds-chip-size-gap: var(--fsds-core-spacing-size-02, 2px);
  --fsds-chip-size-radius: var(--fsds-core-shape-radius-full, 9999px);
  --fsds-chip-size-border: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-chip-text-size: var(--fsds-semantic-typography-body-04, 12px);
  --fsds-chip-text-weight: var(--fsds-semantic-typography-font-weight-medium, 500);
  --fsds-chip-motion-duration-fast: var(--fsds-core-motion-duration-short, 150ms);
  --fsds-chip-color-background-hover: var(--fsds-semantic-color-action-background-secondary-hover, #efefef);
  --fsds-chip-color-background-active: var(--fsds-semantic-color-action-background-secondary-active, #cecece);
  --fsds-chip-focus-ring-width: var(--fsds-semantic-focus-ring-width, 2px);
  --fsds-chip-focus-ring-color: var(--fsds-semantic-focus-ring-color, #0a65fe);
  --fsds-chip-focus-ring-style: var(--fsds-semantic-focus-ring-style, solid);
  --fsds-chip-focus-ring-offset: var(--fsds-semantic-focus-ring-offset, 2px);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
