@import "./Text.tokens.css";

/* @generated:start styles */
.text {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-box-model-gap);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-text-color-foreground-primary);
  line-height: var(--fsds-text-typography-lineHeight-body);
  margin: 0;
}

.text--title {
  font-weight: var(--fsds-text-typography-fontWeight-bold);
  line-height: var(--fsds-text-typography-lineHeight-heading);
  color: var(--fsds-text-color-foreground-primary);
}

.text--body {
  font-weight: var(--fsds-text-typography-fontWeight-regular);
  line-height: var(--fsds-text-typography-lineHeight-body);
  color: var(--fsds-text-color-foreground-secondary);
}

.text__error {
  color: var(--fsds-text-color-foreground-danger);
}

.text__success {
  color: var(--fsds-text-color-foreground-success);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
