/* @generated:start tokens */
.card {
  --fsds-card-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-card-color-border-default: var(--fsds-semantic-color-border-light, #fceaea);
  --fsds-card-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-card-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-card-color-foreground-link: var(--fsds-semantic-color-foreground-link, #d9292b);
  --fsds-card-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-card-size-padding-inset: var(--fsds-core-spacing-size-04, 8px);
  --fsds-card-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-card-size-gap-default: var(--fsds-core-spacing-size-03, 4px);
  --fsds-card-typography-lineHeight-heading: var(--fsds-semantic-typography-line-height-heading, 1);
  --fsds-card-typography-lineHeight-normal: var(--fsds-semantic-typography-line-height-normal, 1.5);
  --fsds-card-color-background-hover: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-card-color-badge-success-background: var(--fsds-semantic-color-background-success-subtle, #e4f2e0);
  --fsds-card-color-badge-success-foreground: var(--fsds-semantic-color-foreground-on-success-subtle, #234104);
  --fsds-card-color-badge-warning-background: var(--fsds-semantic-color-background-warning-subtle, #ffedcc);
  --fsds-card-color-badge-warning-foreground: var(--fsds-semantic-color-foreground-on-warning-subtle, #593000);
  --fsds-card-color-badge-info-background: var(--fsds-semantic-color-background-info-subtle, #d9f3fe);
  --fsds-card-color-badge-info-foreground: var(--fsds-semantic-color-foreground-on-info-subtle, #002d99);
  --fsds-card-color-badge-error-background: var(--fsds-semantic-color-background-danger-subtle, #fceaea);
  --fsds-card-color-badge-error-foreground: var(--fsds-semantic-color-foreground-on-danger-subtle, #7b0000);
  --fsds-card-color-badge-neutral-background: var(--fsds-semantic-color-background-secondary, #efefef);
  --fsds-card-color-badge-neutral-foreground: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-card-color-badge-accent-background: var(--fsds-semantic-color-background-accent, #d9292b);
  --fsds-card-color-badge-accent-foreground: var(--fsds-semantic-color-foreground-on-brand, #ffffff);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
