@import "../../primitives/box-model.css";
@import "./Markdown.tokens.css";
@layer components.defaults {

/* @generated:start styles */
.markdown {
  padding-block-start: var(--fsds-box-model-padding-block-start, 0);
  padding-block-end: var(--fsds-box-model-padding-block-end, 0);
  padding-inline-start: var(--fsds-box-model-padding-inline-start, 0);
  padding-inline-end: var(--fsds-box-model-padding-inline-end, 0);
  gap: var(--fsds-box-model-gap, 0);
  width: var(--fsds-box-model-width, auto);
  min-width: var(--fsds-box-model-min-width, 0);
  max-width: var(--fsds-box-model-max-width, none);
  height: var(--fsds-box-model-height, auto);
  min-height: var(--fsds-box-model-min-height, 0);
  max-height: var(--fsds-box-model-max-height, none);
  color: var(--fsds-markdown-design-root-foreground-color, var(--fsds-markdown-color-foreground-default, #141414));
  font-size: var(--fsds-markdown-design-root-typography-size, var(--fsds-markdown-typography-font-size-default, 0.875rem));
  line-height: var(--fsds-markdown-design-root-typography-line-height, var(--fsds-markdown-typography-line-height-default, 1.5));
}

.markdown__codeBlock {
  white-space: pre;
}
/* @generated:end */

}
/* @custom:start overrides */

/* @custom:end */
