@layer components {
/* @generated:start tokens */
.alert {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: var(--fsds-semantic-feedback-size-padding-block, 16px);
  --fsds-box-model-padding-block-end: var(--fsds-semantic-feedback-size-padding-block, 16px);
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: var(--fsds-semantic-feedback-size-padding-inline, 16px);
  --fsds-box-model-padding-inline-end: var(--fsds-semantic-feedback-size-padding-inline, 16px);
  --fsds-box-model-gap: var(--fsds-semantic-feedback-size-gap, 8px);
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
  --fsds-alert-color-background-primary: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-alert-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-alert-color-border-primary: var(--fsds-semantic-color-border-primary, #a0a0a1);
  --fsds-alert-size-padding: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-size-radius: var(--fsds-semantic-shape-control-radius-default, 6px);
  --fsds-alert-spacing-gap: var(--fsds-semantic-spacing-gap-gridSmall, 8px);
  --fsds-alert-text-size: var(--fsds-semantic-typography-body-03, 14px);
  --fsds-alert-text-weight: var(--fsds-semantic-typography-font-weight-regular, 400);
  --fsds-alert-icon-size: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-typography-title-fontWeight: var(--fsds-semantic-typography-font-weight-bold, 700);
  --fsds-alert-typography-title-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-size-padding-inline: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-size-padding-page: var(--fsds-core-spacing-size-07, 24px);
  --fsds-alert-typography-page-fontSize: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-typography-page-title-fontSize: var(--fsds-semantic-typography-body-01, 18px);
  --fsds-alert-typography-inline-fontSize: var(--fsds-semantic-typography-body-04, 12px);
}

.alert--info {
  --fsds-alert-color-background-primary: var(--fsds-semantic-color-background-info-subtle, #95dafb);
  --fsds-alert-color-foreground-primary: var(--fsds-semantic-color-foreground-on-info-subtle, #013ab0);
  --fsds-alert-color-border-primary: var(--fsds-semantic-color-border-info, #034fd6);
}

.alert--success {
  --fsds-alert-color-background-primary: var(--fsds-semantic-color-background-success-subtle, #b3dba7);
  --fsds-alert-color-foreground-primary: var(--fsds-semantic-color-foreground-on-success-subtle, #2c4f09);
  --fsds-alert-color-border-primary: var(--fsds-semantic-color-border-success, #3a6614);
}

.alert--warning {
  --fsds-alert-color-background-primary: var(--fsds-semantic-color-background-warning-subtle, #fdc67f);
  --fsds-alert-color-foreground-primary: var(--fsds-semantic-color-foreground-on-warning-subtle, #6c3a00);
  --fsds-alert-color-border-primary: var(--fsds-semantic-color-border-warning, #8b4b00);
}

.alert--danger {
  --fsds-alert-color-background-primary: var(--fsds-semantic-color-background-danger-subtle, #fac2c2);
  --fsds-alert-color-foreground-primary: var(--fsds-semantic-color-foreground-on-danger-subtle, #900909);
  --fsds-alert-color-border-primary: var(--fsds-semantic-color-border-danger, #b31b1b);
}

.alert--inline {
  --fsds-alert-size-padding: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-spacing-gap: var(--fsds-core-spacing-size-03, 4px);
  --fsds-alert-text-size: var(--fsds-semantic-typography-body-04, 12px);
  --fsds-alert-typography-title-fontSize: var(--fsds-semantic-typography-body-03, 14px);
}

.alert--section {
  --fsds-alert-size-padding: var(--fsds-core-spacing-size-06, 16px);
  --fsds-alert-spacing-gap: var(--fsds-core-spacing-size-04, 8px);
  --fsds-alert-text-size: var(--fsds-semantic-typography-body-03, 14px);
  --fsds-alert-typography-title-fontSize: var(--fsds-semantic-typography-body-02, 16px);
}

.alert--page {
  --fsds-alert-size-padding: var(--fsds-core-spacing-size-07, 24px);
  --fsds-alert-spacing-gap: var(--fsds-core-spacing-size-05, 12px);
  --fsds-alert-text-size: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-alert-typography-title-fontSize: var(--fsds-semantic-typography-body-01, 18px);
  --fsds-alert-typography-title-fontWeight: var(--fsds-semantic-typography-font-weight-bold, 700);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */

}
