@import "./Button.tokens.css";

/* @generated:start styles */
.button {
  background-color: var(--fsds-button-color-background-default);
  color: var(--fsds-button-color-foreground-default);
  border-color: var(--fsds-button-color-border-default);
  gap: var(--fsds-button-size-gap-default);
  border-radius: var(--fsds-button-size-radius);
  border-width: var(--fsds-button-size-border);
  font-weight: var(--fsds-button-text-weight);
  transition-duration: var(--fsds-button-motion-duration-fast);
  transition-timing-function: var(--fsds-button-motion-easing-standard);

  &:hover {
    background-color: var(--fsds-button-color-background-hover);
    border-color: var(--fsds-button-color-border-hover);
  }

  &:focus-visible {
    border-color: var(--fsds-button-color-border-focus);
  }

  &:active {
    background-color: var(--fsds-button-color-background-active);
  }

  &:disabled {
    background-color: var(--fsds-button-color-background-disabled);
    color: var(--fsds-button-color-foreground-disabled);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
