@import "./Table.tokens.css";

/* @generated:start styles */
.table {
  color: var(--fsds-table-color-text);
  font-size: var(--fsds-table-text-size);
  line-height: var(--fsds-table-text-lineHeight);
  width: 100%;
  overflow-x: auto;

  &:hover {
    background-color: var(--fsds-table-color-background-hover);
  }

  &[aria-selected="true"] {
    background-color: var(--fsds-table-color-background-selected);
  }
}

.table__container {
  border-collapse: collapse;
  border-color: var(--fsds-table-color-border);
  border-width: var(--fsds-table-border-width);
  border-radius: var(--fsds-table-size-radius);
  width: 100%;
}

.table__caption {
  font-size: var(--fsds-table-text-sizeCaption);
  text-align: start;
  padding-bottom: var(--fsds-table-spacing-caption);
}

.table__head {
  background-color: var(--fsds-table-color-background-footer);
}

.table__footer {
  background-color: var(--fsds-table-color-background-footer);
  font-weight: var(--fsds-table-text-weightFooter);
}

.table__headerCell {
  font-weight: var(--fsds-table-text-weightHead);
  color: var(--fsds-table-color-text);
  padding-left: var(--fsds-table-spacing-cellX);
  padding-right: var(--fsds-table-spacing-cellX);
  padding-top: var(--fsds-table-spacing-cellY);
  padding-bottom: var(--fsds-table-spacing-cellY);
  border-bottom-width: var(--fsds-table-border-width);
  border-bottom-color: var(--fsds-table-color-border);
  border-bottom-style: solid;
  text-align: start;
}

.table__cell {
  padding-left: var(--fsds-table-spacing-cellX);
  padding-right: var(--fsds-table-spacing-cellX);
  padding-top: var(--fsds-table-spacing-cellY);
  padding-bottom: var(--fsds-table-spacing-cellY);
  border-bottom-width: var(--fsds-table-border-width);
  border-bottom-color: var(--fsds-table-color-border);
  border-bottom-style: solid;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
