@import "./Links.tokens.css";

/* @generated:start styles */
.links {
  padding-block-start: var(--fsds-box-model-padding-block-start);
  padding-block-end: var(--fsds-box-model-padding-block-end);
  padding-inline-start: var(--fsds-box-model-padding-inline-start);
  padding-inline-end: var(--fsds-box-model-padding-inline-end);
  gap: var(--fsds-links-spacing-gap-default, 2px);
  width: var(--fsds-box-model-width);
  min-width: var(--fsds-box-model-min-width);
  max-width: var(--fsds-box-model-max-width);
  height: var(--fsds-box-model-height);
  min-height: var(--fsds-box-model-min-height);
  max-height: var(--fsds-box-model-max-height);
  color: var(--fsds-links-color-foreground-default, #d92d2e);
  font-size: var(--fsds-links-size-fontSize-medium, 1rem);
  text-decoration-color: var(--fsds-links-color-underline-default, #b8b8b8);
  text-decoration-line: underline;
  text-underline-offset: 2px;
  transition-property: color, text-decoration-color;
  transition-duration: var(--fsds-links-motion-duration-fast, 150ms);
  cursor: pointer;

  &:hover:not([aria-disabled="true"]) {
    color: var(--fsds-links-color-foreground-hover, #b31b1b);
    text-decoration-color: var(--fsds-links-color-foreground-hover, #b31b1b);
  }

  &:visited {
    color: var(--fsds-links-color-foreground-visited, #e55b5a);
  }

  &:disabled {
    color: var(--fsds-links-color-foreground-disabled, #727272);
    cursor: not-allowed;
    text-decoration-line: none;
    pointer-events: none;
  }

  &:focus-visible:not([aria-disabled="true"]) {
    outline-width: var(--fsds-links-focus-ring-width, 2px);
    outline-color: var(--fsds-links-focus-ring-color, #0566fe);
    outline-style: var(--fsds-links-focus-ring-style, solid);
    outline-offset: var(--fsds-links-focus-ring-offset, 2px);
    border-radius: var(--fsds-links-focus-ring-radius, 4px);
  }
}

.links--small {
  font-size: var(--fsds-links-size-fontSize-medium, 1rem);
}

.links--medium {
  font-size: var(--fsds-links-size-fontSize-medium, 1rem);
}

.links--large {
  font-size: var(--fsds-links-size-fontSize-medium, 1rem);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
