/* @generated:start tokens */
:root {
  --fsds-select-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-select-color-foreground-default: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-select-color-border-default: var(--fsds-semantic-color-border-primary, #f29495);
  --fsds-select-color-icon-default: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-select-color-placeholder-default: var(--fsds-semantic-color-foreground-placeholder, #8f8f8f);
  --fsds-select-size-padding-default: var(--fsds-core-spacing-size-03, 4px);
  --fsds-select-size-radius-default: var(--fsds-core-shape-radius-medium, 8px);
  --fsds-select-size-border-default: var(--fsds-core-shape-border-width-hairline, 1px);
  --fsds-select-size-sm-height: var(--fsds-semantic-control-size-sm-height, 24px);
  --fsds-select-size-md-height: var(--fsds-semantic-control-size-md-height, 32px);
  --fsds-select-size-lg-height: var(--fsds-semantic-control-size-lg-height, 48px);
  --fsds-select-font-size-default: var(--fsds-semantic-typography-body-02, 16px);
  --fsds-select-font-lineHeight-default: var(--fsds-semantic-typography-line-height-body, 1.5);
  --fsds-select-color-background-hover: var(--fsds-semantic-color-background-hover, #cecece);
  --fsds-select-color-foreground-hover: var(--fsds-semantic-color-foreground-hover, #3a3a3a);
  --fsds-select-color-border-hover: var(--fsds-semantic-color-border-bold, #8f8f8f);
  --fsds-select-color-background-disabled: var(--fsds-semantic-color-background-disabled, #cecece);
  --fsds-select-color-foreground-disabled: var(--fsds-semantic-color-foreground-disabled, #aeaeae);
  --fsds-select-color-border-disabled: var(--fsds-semantic-color-border-disabled, #cecece);
  --fsds-select-color-border-isOpen: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-select-color-icon-isOpen: var(--fsds-semantic-color-foreground-accent, #d9292b);
  --fsds-select-color-background-selected: var(--fsds-semantic-color-background-highlight, #f7c1c2);
  --fsds-select-color-foreground-selected: var(--fsds-semantic-color-foreground-accent, #d9292b);
  --fsds-select-focus-ring-width: var(--fsds-semantic-focus-ring-width, 2px);
  --fsds-select-focus-ring-color: var(--fsds-semantic-focus-ring-color, #0a65fe);
  --fsds-select-focus-ring-style: var(--fsds-semantic-focus-ring-style, solid);
  --fsds-select-focus-ring-offset: var(--fsds-semantic-focus-ring-offset, 2px);
}

.select {
  --fsds-box-model-padding: 0;
  --fsds-box-model-padding-block: 0;
  --fsds-box-model-padding-block-start: 0;
  --fsds-box-model-padding-block-end: 0;
  --fsds-box-model-padding-inline: 0;
  --fsds-box-model-padding-inline-start: 0;
  --fsds-box-model-padding-inline-end: 0;
  --fsds-box-model-gap: 0;
  --fsds-box-model-width: auto;
  --fsds-box-model-min-width: 0;
  --fsds-box-model-max-width: none;
  --fsds-box-model-height: auto;
  --fsds-box-model-min-height: 0;
  --fsds-box-model-max-height: none;
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
