/* @generated:start tokens */
.details {
  --fsds-details-size-padding-default: var(--fsds-core-spacing-size-06, 16px);
  --fsds-details-size-radius-default: var(--fsds-semantic-shape-control-radius-default, 8px);
  --fsds-details-color-background-default: var(--fsds-semantic-color-background-primary, #ffffff);
  --fsds-details-color-foreground-primary: var(--fsds-semantic-color-foreground-primary, #141414);
  --fsds-details-color-foreground-secondary: var(--fsds-semantic-color-foreground-secondary, #555555);
  --fsds-details-color-border-default: var(--fsds-semantic-color-border-primary, #f29495);
  --fsds-details-color-border-accent: var(--fsds-semantic-color-border-accent, #d9292b);
  --fsds-details-spacing-gap-default: var(--fsds-core-spacing-size-02, 2px);
  --fsds-details-typography-lineHeight-body: var(--fsds-semantic-typography-line-height-body, 1.5);

  &:hover {
    --fsds-details-color-background-hover: var(--fsds-semantic-color-background-hover, #cecece);
    --fsds-details-color-border-hover: var(--fsds-semantic-color-border-bold, #8f8f8f);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
