@import "./Details.tokens.css";

/* @generated:start styles */
.details {
  padding: var(--fsds-details-size-padding-default);
  border-radius: var(--fsds-details-size-radius-default);
  background-color: var(--fsds-details-color-background-default);
  color: var(--fsds-details-color-foreground-secondary);
  border-color: var(--fsds-details-color-border-accent);
  gap: var(--fsds-details-spacing-gap-default);
  line-height: var(--fsds-details-typography-lineHeight-body);

  &:hover {
    background-color: var(--fsds-details-color-background-hover);
    border-color: var(--fsds-details-color-border-hover);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
