@import "./Walkthrough.tokens.css";

/* @generated:start styles */
.walkthrough {
  border-radius: var(--fsds-walkthrough-button-primary-radius);
  box-shadow: var(--fsds-walkthrough-surface-shadow);
  padding: var(--fsds-walkthrough-surface-padding);
  gap: var(--fsds-walkthrough-dots-gap);
}

.walkthrough__controls {
  gap: var(--fsds-walkthrough-controls-gap);
}

.walkthrough__dots {
  gap: var(--fsds-walkthrough-dots-gap);
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
