@import "./TextField.tokens.css";

/* @generated:start styles */
.text-field {
  gap: var(--fsds-textfield-spacing-gap);
  border-width: var(--fsds-textfield-border-width);
  border-radius: var(--fsds-textfield-border-radius);
  color: var(--fsds-textfield-color-input-text);
  /* --fsds-semantic-color-foreground-tertiary: #717171; */

  &--invalid {
    border-color: var(--fsds-textfield-color-input-borderError);
    color: var(--fsds-textfield-color-error);
  }
}
/* @generated:end */

/* @custom:start overrides */

/* @custom:end */
